{% for connection in object.connection_set.all %}
    {% if perms.rapidsms.change_connection %}
        <span id="connection_span_{{ connection.pk }}">
            <a href="javascript:void(0)" onclick="$('#connections_{{ object.pk }}_edit').load('{% url education.views.edit_connection connection.pk %}')">{{ connection.identity }}</a>
            <img style="display:none;cursor:pointer;" border="0"
                onclick="if (confirm('Are you sure you want to delete {{ connection.identity }}?')) { $('#connections_{{ object.pk }}').load('{% url education.views.delete_connection connection.pk %}') }" src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png"
                class="delete"/>
        </span>
        <script type="text/javascript">
            $('#connection_span_{{ connection.pk }}').hover(
                function() {
                    $(this).find('img[class=delete]').show();
                },
                function() {
                    $(this).find('img[class=delete]').hide();
                }
            );
        </script>
    {% else %}
        {{ connection.identity }}
    {% endif %}
    <br clear="left"/>
{% endfor %}
{% if perms.rapidsms.add_connection %}
    <a class="small" href="javascript:void(0)" onclick="$('#connections_{{ object.pk }}_edit').load('{% url education.views.add_connection object.pk %}')">add</a>
{% endif %}
<div id="connections_{{ object.pk }}_edit">
</div>
