{% extends 'generic/partials/partial_row.html' %}
{% block remaining_row_content %}
{% load extra_tags %}
<td>
	{% if object|flags %}
	<span class="messageflag">
        <img src="{{MEDIA_URL}}ureport/images/flagged.png" width="15" height="15" />
    </span>
	{% endif %}
    <span class="textmessage">
    {{ object.text }}
    </span>
</td>
<td><span class="small">
        {% if object.connection.contact %}
            {{ object.connection.contact.name }} ({% endif %}{{ object.connection.identity }}{% if object.connection.contact %}){% endif %}
    <ul>
        <li>
            <a href="/contact/{{ object.connection.pk }}/message_history/">
                Show history
            </a>
        </li>
    </ul>
    </span>
</td>
<td>
    <span class="small">
        {{ object.date|date:"m/d/Y H:i:s" }}
    </span>
</td>
{% endblock %}