{% extends "education/partials/partial_header.html" %}
{% load url from future %}
{% block toprow %}
	<div id="add_school_form"></div>
	<div id="add_school_anchor_row">
		<a href="javascript:void(0)" onclick="newSchool(this, '{% url 'add-schools' %}')">Add New School(s)</a>
		&nbsp;|&nbsp;
    		<a href="/static/education/spreadsheets/ereporters.xls">Download as Excel</a>
	</div>
{% endblock %}

{% block tablehead %}
<tr>
    {% for name, colspan, href in top_columns %}
        <td colspan="{{ colspan }}" class="stats_title">
            {% if href %}<a href="{{ href }}">{{ name }}</a>{% else %}
            {{ name }}
            {% endif %}
        </td>
    {% endfor %}
</tr>
{{ block.super }}
{% endblock %}
