{% extends "generic/partials/partial_header.html" %}
<div>
    <h3>Add New User</h3>
<form action="/emis/users/add/" method="Post" >
        <table >


        {{ user_form.as_table }}

        <!-- <tr><td></td><td><input class="btn btn-primary" type="submit" value="Save User"> </td></tr> -->
        <tr><td><button type="submit" class="btn btn-primary btn-large"><i class="icon-user"></i> Save User</button></td></tr>


    </table>
     </form>
    </div>
{% block toprow %}

{% endblock %}

{% block tablehead %}

<table cellspacing="1" cellpadding="3" id="userTable" class="results table table-paper tablehead table-condensed table-striped" style="background:#CCC;">
<thead>
    <tr class="colhead">
        {% for name, colspan, href in top_columns %}
        <th>
            {% if href %}<a href="{{ href }}">{{ name }}</a>
            {% else %}
            {{ name }}
            {% endif %}
        </th>
        {% endfor %}
    </tr>
</thead>
{{ block.super }}
{% endblock %}
