<div id="poll_header">
<div class="name">{{ poll.name }} :
  <span class="participants">{{ poll.contacts.count }} participant{{ poll.contacts.count|pluralize }}, {{ total_responses }} total response{{ total_responses|pluralize }} ({{ response_rate|floatformat }}% response rate)</span>
</div>
<div class="question">{{ poll.question }}</div>
<div class="response">Response: {{ poll.default_response }}</div>
</div>
<table width="100%" class="poll_table"> 
    <thead>
        <th>Location</th>
        <th>Response Average</th>
        <th>Response Total</th>
        <th>Most Often Occurring</th>
    </thead>
    <tbody>
        {% for location_data in report_rows %}
            <tr>
                <td>
                    {% if location_data.location %}
                        <a href="javascript:void(0)" onclick="loadReportForLocation('{{ poll.pk }}','{{ location_data.location.pk }}')">
                            {{ location_data.location.name }}
                        </a>
                    {% else %}
                        Unknown location
                    {% endif %}
                </td>   
                <td>{{ location_data.average }}</td>
                <td>{{ location_data.total }}</td>
                <td>{{ location_data.mode }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
