{% extends "polls/layout.html" %}
{% block title %}Polls{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}poll/javascripts/poll.js"></script> 
{% endblock %}

{% block content %}
    <div class="buttons">
        <a href="/polls/{{ poll.pk }}/demo/" style="float:right"> 
          <img border="0" src="/static/rapidsms/icons/silk/package_go.png" alt=""/>Send Alerts
        </a>
    </div>
    <div id="poll_report">
        {% ifequal poll.type 't' %}
            {% include "polls/poll_report_text.html" %}
        {% else %}
            {% ifequal poll.type 'n' %}
                {% include "polls/poll_report_numeric.html" %}
            {% endifequal %}
        {% endifequal %}
    </div>
{% endblock %}