<div class="response_table" id="{{response.id}}">
  <table width="100%">
    <tr>
    <td class="response_sender_col">
      {% if response.message.connection.contact %}
        {{ response.message.connection.contact }}
      {% else %}
        {{ response.message.connection.identity }}
      {% endif %} 
       at {{ response.message.date|date:"d/m/Y H:i" }}
    </td>
    <td class="center response_text_col">
        {{ response.eav.poll_text_value }}
    </td>
    <td class="response_categories_col">
      {% if response.categories %}
        <ul class="category_list">
          {% for responsecategory in response.categories.all %}
          <li {% if responsecategory.category.color %}style="width:100%;background-color:#{{ responsecategory.category.color }}"{% endif %}>
            {{ responsecategory.category.name }}
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
    <td class="response_options_col">
      <a onclick="deleteResponse(this);" class="negative" style="float:right">
      <img style="vertical-alignment:bottom;padding-top:7px" src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" alt=""/>
      </a>
      <div class="buttons">
        <a onclick="editResponse(this);" href="javascript:void(0);">
            <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png" alt=""/> 
            Edit
        </a>
        {% ifnotequal response.message.connection.contact.name response.eav.poll_text_value %}
            <a href="/polls/responses/{{ response.pk }}/apply/">
              <img src="{{ MEDIA_URL }}poll/icons/silk/application_form_add.png" alt=""/>Register User
            </a>
        {% endifnotequal %}
      </div>
    </td>  
    </tr>
  </table>
</div>