{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% load stats_extras %}
{% block title %} Curriculum Progress P3 -- {{ block.super }} {% endblock %}
{% block content %}

<div id="content">

  <div class="container">
    <div class="row">   
        <!-- <div class="general"> -->

        {% include "education/progress/_progress_detail_partial.html" %}

            <div id="table_row" class="clear">
                <div class="school_report general">
                    <div class="table_container">
                        <div class="table">
                            {% with location_data.items as list %}
                            <table class="table tabulated-data">
                            <thead>
                              <tr>
                                <th>{{ sub_location_type|capfirst }}</th>
                                <th>Literacy sub theme completed</th>
                              </tr>           
                            </thead>
                            
                            <tbody> 
                                {% paginate 25 list %}
                                {% for  sub_location,mode in list %}
                                    <tr>
                                        <td>
                                            <a href={{ sub_location_type|get_url:sub_location.pk}}> {{ sub_location.name }}</a>
                                        </td>
                                        <td>
                                            {{ mode|format_mode }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                            {% show_pages %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--row -->
    </div> <!-- container -->
</div>
    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>

{% endblock %}