
<div id="abuse_container">
    <!--
    TODO remove this: compute and get number of reports or schools that reported
    colorize different percentages (i.e. red for critical, yellow for something, etc.
    -->
    <div id="abuse">
        {% if user.is_authenticated and user.is_deo %}

        {% endif %}
        <script type="text/javascript">
            $(document).ready( function() {
                abuse_cases("{{ districts|join:"','" }}", "{{ abuse_values|join:"," }}");
            });
        </script>
    </div>
    <div class="spanny">
        <span id="abuse_verdict" style="width:30px; color:red;">
            78% of Schools reported this Month
        </span>
    </div>
</div>