<table width="100%" cellpadding="5" cellspacing="0" border="1" style="border-collapse: collapse; border-color: #efefef">
    <tr>
        <td valign="top">
                <h2>This Week</h2>
                <table width="100%" class="results">
                    <tr>
                        <td><h3>Group</h3></td>
                        <td><h3>Absent</h3></td>
                        <td><h3>Present</h3></td>
                        <td><h3>Change</h3></td>
                    </tr>
                    <tr class="row_reg">
                        <td height="20px"><a href="#">Boys P3</a></td>
                        <td>10%</td>
                        <td>40%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr class="row_alt">
                        <td height="20px"><a href="#">Boys P6</a></td>
                        <td>25%</td>
                        <td>70%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr class="row_reg">
                        <td height="20px"><a href="#">Girls P3</a></td>
                        <td>5%</td>
                        <td>22%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr class="row_alt">
                        <td height="20px"><a href="#">Girls P6</a></td>
                        <td>15%</td>
                        <td>18%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr class="row_reg">
                        <td height="20px"><a href="#">Female Teachers</a></td>
                        <td>15%</td>
                        <td>48%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr class="row_alt">
                        <td height="20px"><a href="#">Male Teachers</a></td>
                        <td>10%</td>
                        <td>40%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr class="row_reg">
                        <td height="20px"><a href="#">Female HTeachers</a></td>
                        <td>10%</td>
                        <td>40%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr class="row_alt">
                        <td height="20px"><a href="#">Male HTeachers</a></td>
                        <td>10%</td>
                        <td>40%</td>
                        <td>
                            >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="color: red; padding:15px 0 15px 5px; font-size: 1.5em;">
                            <!--TODO: pass variable that will display this dynamically -->
                            30% of Total Reporters Reported
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="color: red; padding:15px 0 15px 5px; font-size: 1.5em;">
                            <!--TODO: pass variable that will display this dynamically -->
                            15% of Community Reporters Reported
                        </td>
                    </tr>
                </table>
      </td>
    </tr>
</table>
