{% load stats_extras %}
<div id="capitation_container">
    <div id="capitation">
        <h3>UPE Capitation Progress this School Term</h3>
    </div>
    <div class="spanny" style="text-align: center;">
    <span>
        65% of Total Reporters Reported
    </span>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            pie("{{ responses|reorganize_data|join:"," }}",
                    "UPE Grants Received",
                    "Capitation Grants Received",
                    "capitation",
                    " responses");
        });
    </script>
</div>