{% extends "education/admin/admin_dashboard.html" %}
{% load humanize %}

{% block content %}

<div class="attendance">
    <p><a href="{% url rapidsms-dashboard %}" style="text-decoration: none; line-height: inherit;">← Back to EdTrac Home Page</a></p
    <div class="top-welcome">
        <span style="font-size:1.2em;">{{ location }}</span>
        <span>There are a total of {{ school_count }} schools in this district</span>
    </div>


    <div class="top">
        <h2 class="block-header">Violence Records (for past 2 months)</h2>
        <table class="tabulated-data">
            <thead>
            <tr>
                <th>
                    School
                </th>
                <th>
                    Numbers of Cases this {{ month|date:"M Y" }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for school,val in school_vals %}
                {% if val == 0 %}
                {% else %}
                <tr><td><a href="{% url school-detail school.pk %}">{{ school }}</a></td><td>{{ val }}</td></tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}