{% load stats_extras %}
<div id="lunch_container">
    <div id="lunch">
        <script type="text/javascript">
            $(document).ready( function() {
                lunch("{{ lunches|reorganize_lunch|join:"," }}");
            });
        </script>
    </div>
    <div class="spanny">
        <span id="lunch_verdict" style="width:30px; color:green;">
            46% of Schools reported this Month
        </span>
    </div>
    <!-- <script type="text/javascript">
        // Lunch charts
        var lunch_chart;
        lunch_chart = new Highcharts.Chart({
            chart: {
                renderTo: 'lunch',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Lunch at School this Month'
            },
            tooltip: {
                formatter: function() {
                    return this.percentage +' % \n didn\'t have meals';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true
                    },
                    showInLegend:false
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [{% for lunch in lunches %}
                        ['{{ lunch.0 }}', {{ lunch.1|safe }}],
                        {% endfor %}]
            }]
        });
    </script> -->
</div>