<div id="progressbar-p3">
    <div class="progress">
        <span>ENGLISH - Curriculum Progress for P3 <span class="inner_span">
            (week 8 of School Term)
        </span></span>
    </div>
    <div id="progress_p3"></div>
</div>
<div id="progressbar-p6">
    <div class="progress">
        <span>ENGLISH - Curriculum Progress for P6 <span class="inner_span">(week 8 of School Term)</span></span>
    </div>
    <div id="progress_p6"></div>
</div>

<script>
    $(function(){
        $("#progress_p3").progressbar({
            value: 35
        });
        $("#progress_p6").progressbar({
                    value:52
                });
    });
</script>
