<!-- TODO: scope out this and wait for better way of data collection

<div id="progressbar-p3">
    <div class="progress">
        <span>ENGLISH - Curriculum Progress for P3 <span class="inner_span">(week 8 of School Term)</span></span>
    </div>
    <div id="progress_p3"></div>
</div>
<div id="progressbar-p6">
    <div class="progress">
        <span>ENGLISH - Curriculum Progress for P6 <span class="inner_span">(week 8 of School Term)</span></span>
    </div>
    <div id="progress_p6"></div>
</div>

<script>
    $(document).ready(function(){
        load_progress_chart({{ p3 }}, {{ p6 }});
    });
</script>
-->