

<div id="abuse_container">
    <!--
    TODO remove this: compute and get number of reports or schools that reported
    colorize different percentages (i.e. red for critical, yellow for something, etc.
    -->
    <div id="violence">
    </div>

        <script type="text/javascript">
            $(document).ready( function() {
                violence_cases("{{ x_vals|join:"','" }}", "{{ y_vals|join:"," }}");
            });
        </script>

    <div class="spanny">
        <span id="abuse_verdict" style="width:30px; color:red;">
            78% of Schools reported this Month
        </span>
    </div>
</div>