*.pyc
.idea/*
.idea/
localsettings.py
testSettings.py
edtrac_projects/media
build
patch
*.log
.project
.pydevproject
Vagrantfile
.vagrant
.vagrant/*
.coverage
static/
edtrac_project/.DS_Store
edtrac_20140114.sql
