[submodule "edtrac_project/rapidsms_generic"]
	path = edtrac_project/rapidsms_generic
	url = git://github.com/unicefuganda/rapidsms-generic.git
[submodule "edtrac_project/rapidsms_uganda_common"]
	path = edtrac_project/rapidsms_uganda_common
	url = git://github.com/unicefuganda/rapidsms-uganda-common
[submodule "edtrac_project/rapidsms_polls"]
	path = edtrac_project/rapidsms_polls
	url = git://github.com/unicefuganda/rapidsms-polls.git
[submodule "edtrac_project/rapidsms_script"]
	path = edtrac_project/rapidsms_script
	url = git://github.com/unicefuganda/rapidsms-script.git
[submodule "edtrac_project/rapidsms_edtrac"]
	path = edtrac_project/rapidsms_edtrac
	url = git://github.com/unicefuganda/rapidsms-edtrac.git
