{% extends "xforms/layout.html" %}
{% block title %}XForms{% endblock %}

{% block content %}
{% load forms %}

<div id="form_header">
<div class="name">New XForm</div>
</div>

<form action="/xforms/new/" method="post" class="uniForm" id="newForm">
{% csrf_token %}
{{ form|render_layout }}

<div class="buttons" style="float:left;margin-bottom:10px;margin-top:10px">
  <a href="/xforms/">
    <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png" alt=""/> 
    Cancel
  </a>
  <a onclick="$('#newForm').submit();" href="javascript:void(0);">
    <img src="{{ MEDIA_URL }}rapidsms/icons/silk/add.png" alt=""/> 
    Create Form
  </a>
</div>
</form>

{% endblock %}
