{% extends "layout.html" %}
{% block title %}
    {{ block.super }}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}generic/stylesheets/dashboard.css"/>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{{MEDIA_URL}}generic/javascripts/dashboard.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}generic/javascripts/jquery-ui-1.8.11.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}cvs/javascripts/highcharts.js"></script>
{% endblock %}

{% block content %}
`   {% if perms.generic.publish_dashboard %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="publish"/>
            <span>Publish to:</span>
            <select name="user" id="user_list">
                <option value="-2">Anonymous Users</option>
                <option value="-3">All Users</option>
                {% for u, dashboard in user_list %}
                    {% if not user.pk == u.pk %}
                        <option value="{{ u.pk }}">{{ u.username }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% for user, dashboard in user_list %}
                {% if dashboard %}
                    <input type="hidden" name="user_{{ user.pk }}_dashboard" value="true"/>
                {% else %}
                    <input type="hidden" name="user_{{ user.pk }}_dashboard" value="false"/>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Publish" onclick="check_existing()"/>
        </form>
    {% endif %}
    <div id="head" class="module">
        {% if title %}
            <h2>{{ title }}</h2>
        {% endif %}
		{% if perms.generic.change_dashboard %}
        	<a href="javascript:void(0)" onclick="$('#add_module').toggle(0);$('.moduleform').hide();$('#{{ module_types|first|first }}_modules').show();" class="button"><img src="{{ MEDIA_URL }}rapidsms/icons/silk/add.png" title="Add Module" />Add Module</a>
			<div id="add_module" style="display:none;">
	        	<div>
			        <select id="select_module" onchange="$('.moduleform').hide();$('#'+$(this).val() + '_modules').show()">
			            {% for module_name, module_form, module_title in module_types %}
			                <option value="{{ module_name }}">{{ module_title }}</option>
			            {% endfor %}
			        </select>
			    </div>
		        {% for module_name, module_form, module_title in module_types %}
		            <div id="{{ module_name }}_modules" class="moduleform" style="display:none;">
		                <form id="form_{{ module_name }}" method="POST">
		                    {%  csrf_token %}
		                    <input type="hidden" name="action" value="" class="input_action"/>
		                    <input type="hidden" name="module_type" value="" class="input_module_type"/>
		                    <table>
		                        {% for field in module_form.visible_fields %}
		                            <tr>
		                                <td>
		                                    {% if forloop.first %}
		                                        {% for hidden in module_form.hidden_fields %}
		                                            {{ hidden }}
		                                        {% endfor %}
		                                    {% endif %}
		                                    {{ field.label_tag }}
		                                    {% if field.help_text %}
		                                        <span class="filter_form_help">{{ field.help_text }}</span>
		                                    {% endif %}
		                                </td>
		                                <td>
		                                    {{ field }}
		                                </td>
		                            </tr>
		                        {% endfor %}
		                        <tr><td colspan="2" ><input type="button" value="Add" onclick="$('#{{ module_name }}').hide();loadModule(this, '{{ module_name }}');return false"/></td></tr>
		                    </table>
		                </form>
		            </div>
	        {% endfor %}
		{% endif %}
	    </div>

        <div id="mod">
            {% include "generic/partials/modules.html" %}
        </div>
    {% if perms.generic.change_dashboard %}
        <script language="javascript" >
            make_draggable()
        </script>
    {% endif %}
{% endblock %}