{% extends "layout.html" %}
{% block javascripts %}
{{ block.super }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}generic/javascripts/map.js"></script>
{% if needs_date %}
	<script type="text/javascript" src="{{ MEDIA_URL }}generic/javascripts/slider.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}generic/javascripts/selectToUiSlider.jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}generic/javascripts/jquery-ui-1.7.3.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}generic/stylesheets/jquery-ui-1.7.3.custom.css"/>
{% endif %}
{% endblock %}
{% block content %}
    <div id="map" class="init" style="width:600px;height:600px">
    </div>
    <div id="map_layers" name="layers">
        <ul style="list-style-type:none">
        {% for layer in map_layers %}
            <li>
                <input type="checkbox" 
                    {% if layer.autoload %}checked="true"{% endif %}
                    name="layer{{ forloop.counter0 }}"
                    onclick="toggle_layer('map', '{{ layer.name }}', '{{ layer.url }}', '{{ layer.needs_date }}', this);"/>{{ layer.name }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% if needs_date %}
        {% include "generic/partials/time_slider.html" %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function() {
            init_map('map', {{ min_lat }}, {{ max_lat }}, {{ min_lon }}, {{ max_lon }});
            {% for layer in map_layers %}
                {% if layer.color %}
                    set_color('{{ layer.name }}', '{{ layer.color }}');
                {% endif %}
                {% if layer.autoload %}
                	{% if layer.needs_date %}
                		plot_layer_with_date('map', '{{ layer.name }}', '{{ layer.url }}', '{{ start_ts}}', '{{ end_ts }}');
                	{% else %}
                    	plot_layer('map', '{{ layer.name }}', '{{ layer.url }}', '{{ layer.url }}');
                    {% endif %}
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}