{% load region_tags %}
{% load tabs_tags %}
{% load i18n %}

{% block top_container %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{% block title %}EduTrac{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/layout.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/tables.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/forms.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
    {% endblock %}

    {% block javascripts %}
    <script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/collapse.js"></script>
    {% endblock %}

</head>
<body>
<div id="wrapper">
    {% region "top" %}

    {% block header %}
    <div id="header" style="color: blue;">
        <div class="banner" style="color: blue;">
            <a style="position: absolute;" href="/">
                <img src="{{ MEDIA_URL }}education/icons/web_logo.png" alt="EduTrac">
                <span class="brand">&nbsp;</span>
            </a>
            {% block auth %}
            <div id="auth">{% if user.is_authenticated %}
                <a href="{% url rapidsms-logout %}">{% trans "Log out" %} {{ user.username }}</a>{% else %}
                <a href="{% url rapidsms-login %}">{% trans "Log in" %}</a>{% endif %}
            </div>
            {% endblock %}
        </div>

        {% comment %}
        This will override AUTHENTICATED_TABS if loaded...no one seems to be using this
        template, so I'm commenting it out to use authenticated tabs.
        {% get_tabs as tabs %}
        {% endcomment %}
        <ul id="tabs">{% for tab in tabs %}
            <li class="app-{{ tab.name }}{% if tab.is_active %} active{% endif %}">
                <a href="{{ tab.url }}"><span>{{ tab.caption }}</span></a>
            </li>{% endfor %}
        </ul>

        {% block page_tabs %}
        {% endblock %}
    </div>
    {% endblock %}

    {% block breadcrumbs %}{% if breadcrumbs %}
    <div id="breadcrumbs">{% for caption, url in breadcrumbs %}
        <a href="{{ url }}">{{ caption }}</a>{% if not forloop.last %}
        <span>&raquo;</span>{% endif %}{% endfor %}
    </div>{% endif %}
    {% endblock %}

    <div id="inner">
        {% endblock %}{% comment %}ends block top_container{% endcomment %}
        {% block content %}{% endblock %}
        {% block bottom_container %}
    </div>

    {% block footer %}
    <div id="footer">
        <p class="rights">
            Copyright &copy; 2008 &#8211; {% now "Y" %}
            <a href="http://unicef.org">UNICEF</a> et al.<br />
            <a href="http://github.com/rapidsms/rapidsms">RapidSMS</a> is available under
            <a href="http://github.com/rapidsms/rapidsms/raw/master/LICENSE">the BSD license</a>.
        </p>

        {% region "footer" %}
    </div>
    {% endblock %}

    {% region "bottom" %}
</div>
<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36286594-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
</body>
</html>
{% endblock %}{% comment %}ends block bottom_container{% endcomment %}
