{% load region_tags %}
{% load tabs_tags %}
{% load i18n %}
{% load url from future %}

{% block top_container %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{% block title %}EduTrac{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/bootstrap-responsive.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/jquery-ui-1.8.19.custom.css"/>

    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/tablecloth.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/edtrac.css" />
    {% endblock %}

    {% block javascripts %}
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/collapse.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/bootstrap-alert.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/jquery-ui-1.8.19.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/highcharts.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/emis_dashboard_charts.js"></script>
    {% endblock %}

</head>
<body>
	<div class="wrapper">
		<div class="container">
			{% region "top" %}

			{% block header %}
			<div class="navbar">
				<div class="navbar-inner">
					<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target="nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>

					<a class="brand" href="/"><img src="{{ MEDIA_URL }}education/icons/web_logo.png" alt="EduTrac"></a>
					{% block auth %}
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							{% if user.is_authenticated %}
							<li><a href="{% url 'rapidsms-dashboard' %}"><i class="icon-home icon-white"></i> Home</a></li>
							<li><a href="/edtrac/control-panel/"><i class="icon-th icon-white"></i> Control Panel</a></li>
							<li class="divider-vertical"></li>
							<li><a href=""><i class="icon-user icon-white"></i> {{ user.username }}</a></li>
							<li><a href="{% url 'rapidsms-logout' %}"><i class="icon-lock icon-white"></i> Logout</a></li>
							{% else %}
							<li><a href="{% url 'rapidsms-login' %}"><i class="icon-lock icon-white"></i> {% trans "Log in" %}</a></li>
							{% endif %}
						</ul>
					</div>
					{% endblock %}
				</div>
			</div>
			{% endblock %}

			{% comment %}
			This will override AUTHENTICATED_TABS if loaded...no one seems to be using this
			template, so I'm commenting it out to use authenticated tabs.
			{% get_tabs as tabs %}
			<ul id="tabs">{% for tab in tabs %}
				<li class="app-{{ tab.name }}{% if tab.is_active %} active{% endif %}">
				<a href="{{ tab.url }}"><span>{{ tab.caption }}</span></a>
				</li>{% endfor %}
			</ul>
			{% endcomment %}

			{% block page_tabs %}
			{% endblock %}

			{% endblock %} {% comment %}ends the header block{% endcomment %}

			{% block masthead %}
			{% endblock %}

			{% block breadcrumbs %}{% if breadcrumbs %}
			<div id="breadcrumbs">{% for caption, url in breadcrumbs %}
				<a href="{{ url }}">{{ caption }}</a>{% if not forloop.last %}
				<span>&raquo;</span>{% endif %}{% endfor %}
			</div>{% endif %}
			{% endblock %}

			<div id="inner">
				{% block content %}
				{% endblock %}
			</div>

			{% block footer %}
			<hr/>
			<div id="footer">
				<p class="rights">
				Copyright &copy; 2008 &#8211; {% now "Y" %}
				<a href="http://unicef.org">UNICEF</a> et al.<br />
				<a href="http://github.com/rapidsms/rapidsms">RapidSMS</a> is available under
				<a href="http://github.com/rapidsms/rapidsms/raw/master/LICENSE">the BSD license</a>.
				</p>

				{% region "footer" %}
			</div>
			{% endblock %}

			{% region "bottom" %}
		</div> <!-- ./container -->
	</div><!-- ./wrapper -->

</body>
</html>
