{% extends "education/layout_base.html" %}
{% load stats_extras %}
{% block title %}
    Dashboard -- {{ block.super }}
{% endblock %}
{% block content %}
    <div class="schedule_poll_header">
        Schedule Water Poll for Valid Head Teachers:
    </div>
    <div style="padding: 10px;margin: 5px;">
        <fieldset>
            <form action="" method="POST" class="schedule_form">
                {% csrf_token %}
                <ul>
                    <li class="{{ form.on_date.css_classes }}">
                        {{ form.on_date.label_tag }}
                        {{ form.on_date }}
                        {{ form.on_date.errors }}
                    </li>
                    <li>
                        <input type="hidden" value="water_poll_form" name='form_name'/>
                    </li>
                    <li>
                        <input type="submit" value="Schedule"/>
                    </li>
                </ul>
            </form>
        </fieldset>
    </div>
    <div class="schedule_poll_header">
        Schedule Functional Water Poll for Head Teachers Replying Yes:
    </div>
    <div style="padding: 10px;margin: 5px;">
        <fieldset>
            <form action="" method="POST" class="schedule_form">
                {% csrf_token %}
                <ul>
                    <li>
                        <input type="hidden" value="functional_water_poll_form" name='form_name'/>
                    </li>

                    <li>
                        <input type="submit" value="Schedule"/>
                    </li>
                </ul>
            </form>
        </fieldset>

    </div>
    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

{% endblock %}