{% extends "xforms/xforms_base.html" %}
{% block title %}XForms{% endblock %}

{% block content %}

<script type="text/javascript">

	// send the current field order to the server
	function updateOrder() {
		delim = "";
		sub = "";

		$("#sortable a").each(function() {
			if (this.id != "") {
				sub += delim + this.id;
				delim = ",";
			}
		});

		if (sub != "") {
			$.post("/xforms/{{xform.pk}}/order/",{'order':sub});
		}
	}

	// Create our sortable widget and handle any sort events
	$(function() {
		$("#sortable").sortable({ update: updateOrder });
		$("#sortable").disableSelection();
	});
	
	// We need to call this every time a new field box is added/updated 
	function addNameClick() {

		// Handle field selection
		$( '.form_field_edit' ).each( function() {
		
			// we dont want to re-bind events causing multiple events to trigger
			if (!this.hasEventHandler) {
			
				$(this).click(function() {
			
					// hide any open edit boxes
					// $("div.field_box").load( "/xforms/" +  {{xform.pk}} + "/edit_field/" + this.id + "/");
		
					url = "/xforms/" +  {{xform.pk}} + "/edit_field/" + this.id + "/";
					
					$(this).parents(".field_box").load(url);
					selected = $(("#selection_" + this.id));
					selected.addClass('form_selected');
					selected.removeClass('form_unselected');
					
				});
				
				this.hasEventHandler = true;
			}
			
		});
		
		// when we have successful saves, update our sort order too
		// updateOrder();
	}
	
	// Add a new box for entering a new field
	function addNewFieldBox() {
		var newBox = $("#new_field_box").clone();
		newBox.load( "/xforms/" + {{ xform.pk }} + "/add_field/", function() {
			newBox.show();
			newBox.id = "field_box_" + Math.floor((new Date()).getTime() / 1000);
			$("#sortable").append(newBox);
		});
		
	}
	
	$( document ).ready( function() {

		// hide our new field template
		$('#new_field_box').hide();
		
		// Handle new field creation button
		$( '.add_field' ).click( function() {
			addNewFieldBox();
		});

		$(".field_box").each(function() {
			field_id = $(this).parent().attr("id");
			// console.log(this + " " + field_id);
			if (field_id) {
				url = "/xforms/" +  {{xform.pk}} + "/field/" + field_id + "/"
				$(this).load(url, addNameClick);
			}
		});
		
		// if no fields, show the add new field form
		if ({{field_count}} == 0) {
			addNewFieldBox();
		}
		
	});
	
	// Trap our ajax errors and put them where we can see them
	$.ajaxSetup({
		error:function(x,e){
			if(x.status==0){
				$("#error").html("Oopsie, network not found.");
			} else if(x.status>=400){
				$("#error").html(x.responseText);	
			}
		}
	});
	
</script>

<div>
<p><a href="/xforms">&laquo; All Forms</a></p>
</div>

<div class="form_title">{{xform.name}}<span class="form_edit"><a href="">edit</a></span></div>
<div class="form_body">{{xform.description}}<span class="form_edit"><a href="">edit</a></span></div>
<br/><br/>
<table width="100%" class="form_table">
<thead>
<tr>
<th class="field_name_col">Caption</th>
<th class="field_type_col">Type</th>
<th class="field_command_col">Command</th>
<th class="field_description_col">Description</th>
<th class="field_options_col"></th>
</tr>
</thead>
<tbody>
<tr><td class="form_fields_cell" colspan="5">
			<ul id="sortable">
				{% for field in fields %}
				<li class="field ui-state-default form_unselected" id="{{field.pk}}">
					<div class="field_box" id="field_box_{{forloop.counter}}">
					</div>
				</li>
				{% endfor %}

				<li class="field ui-state-default form_unselected">
					<div class="field_box" id="new_field_box"></div>
				</li>
			</ul>
</td></tr>
</tbody>
</table>

<br/><br/>

<div class="add_field"><a href="javascript:void(0);">Add Field</a></div>

<div id="error"></div>

{% endblock %}
