<script type="text/javascript">
function deleteField() {
	if(confirm("Are you sure you want to delete \"{{ field.name }}\" from your form?")) {
		document.delete_field.submit();
	}
}

function submitField(button, field_id) {
	if (field_id == 0) {
		form_data = $("#field_form_" + field_id).serializeArray();
    	url = "/xforms/{{ xform.pk }}/add_field/";
		$(button).parent().load(url, form_data, addNameClick);
	} else {
		form_data = $("#field_form_" + field_id).serializeArray();
    	url = "/xforms/{{ xform.pk }}/edit_field/" + field_id + "/";
		console.log($(button).parent());
		$(button).parent().load(url, form_data, addNameClick);
	}
}
</script>



{% if field %}
<button style="float:right" onclick="submitField(this, {{field.pk}})" ><img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept--dull.png"/><div>Done</div></button>
<form onSubmit="javascript:void(0)" id="field_form_{{field.pk}}" action="/xforms/{{ xform.pk }}/edit_field/{{ field.pk }}/" method="post">
{% else %}
<button style="float:right" onclick="submitField(this, 0)" ><img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept--dull.png"/><div>Done</div></button>
<form id="field_form_0" action="/xforms/{{ xform.pk }}/add_field/" method="post">
{% endif %}

<div class="form_edit_name">
	<img id="{{field.id}}" class="form_field_edit" border="0" width="16" height="16" src="{{ MEDIA_URL }}xforms/icons/silk/bullet_arrow_down.png">

	{{form.caption.errors}}
 	{{form.caption}}
</div>

	{{form.command.errors}}
 	{{form.command}}

<!-- TODO: Need some better formatting here -->


<div class="form_edit_type">{{form.type.errors}} {{form.type}}</div>

<div class="form_edit_description">{{form.description.errors}} {{form.description}}</div>

<div class="constraints_box" id="field_constraints_{{field.pk}}">

{% for constraint in constraints %}
blah
	{{constraint.type}}
{% empty %}
{% endfor %}
				


</form>

<button onclick="javascript:void(0);"><img src="{{ MEDIA_URL }}rapidsms/icons/silk/add.png"/><div>Add Constraint</div></button>


</div>

