{% load stats_extras %}

    <div style="padding: 10px;margin: 5px;">
        <fieldset>
            <form action="" method="POST">
                {% csrf_token %}
                <ul>
                    <li class="{{ form.choose_week_to_view.css_classes  }}">
                        {{ form.choose_week_to_view.label_tag }}
                        {{ form.choose_week_to_view }}
                        {{ form.choose_week_to_view.errors }}
                    </li>
                    <li>
                        <input type="submit" value="Search"/>
                    </li>
                </ul>
            </form>
        </fieldset>
    </div>
    <div class="stats"><h3>Curriculum Progress for Literacy - P3</h3></div>
    <div>
        {% with 'third second first' as list %}
            {% for t in list.split %}
                <div class="curriculum-progress">
                    <p>{{ t|capfirst }} Term</p>
                    {% if term  == t %}
                        <p>Target: ({{ target|get_theme_title }})</p>
                        <div class="progress">
                            <span style="width:{{ target_progress }}%;"><b>{{ target }}</b></span>
                        </div>
                        <p>Actual
                            {% if current_mode|islist %}
                                : ({{ current_mode|format_mode|get_theme_title }})
                            {% endif %}
                        </p>
                        <div class="progress">
                            {% if current_mode|islist %}
                                <span class="{{ class_sent_from_behind }}" style="width:{{ mode_progress }}%"><b
                                        style="color: {{ class_sent_from_behind }}">{{ current_mode|format_mode }}</b></span>
                            {% else %}
                                <span style="color: {{ class_sent_from_behind }}">{{ current_mode }}</span>
                            {% endif %}
                        </div>
                    {% else %}
                        <p>Target</p>
                        <div class="progress"></div>
                        <p>Actual</p>
                        <div class="progress"></div>
                    {% endif %}
                </div>

            {% endfor %}
        {% endwith %}
    </div>