<div id="div_add_contact">
    <div>
        <p>Add Schools</p>
    </div>
    <div>
		<form action="{% url add-schools %}" method="post">{% csrf_token %}
			{{ form.as_p }}
            <table class="add-contact">
            <tr><td id="addelm"><a href="javascript:void(0)" onclick="addSchoolElm(this);"> Add more </a></td></tr>
            <tr>
                <td colspan="6">
                    <a href="javascript:void(0)"
                       onclick="addSchools(this, '{% url add-schools %}');$('#add_school_anchor_row').show();">
                        <input type="submit" value= "Add"/></a>

                    <a href="javascript:void(0)"
                       onclick="$('#add_school_form').html('');$('#add_school_anchor_row').show();"><input type="reset" value= "Cancel"/></a>
                </td>
            </tr>
            </table>
		</form>
    </div>
</div>
<div id="name_elms" style="display:none">
    {{ form.name }}
</div>
<div id="location_elms" style="display:none">
    {{ form.location }}
</div>
<div id="id_elms" style="display:none">
    {{ form.emis_id }}
</div>