{% extends "layout.html" %}
{% load humanize %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/layout.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}generic/stylesheets/generic.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}education/stylesheets/emis.css"/>
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}education/stylesheets/jquery-ui-1.7.3.custom.css"/>
{% endblock %}
{% block javascripts %}
{{ block.super }}
<!-- {% include "education/partials/chart/javascripts.html" %} -->
<script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/highcharts.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/emis_dashboard_charts.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/jquery-ui-1.7.3.custom.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock javascripts %}
{% block content %}
<table width="100%" cellpadding="5" cellspacing="0">
    <tr>
        <td id="map" width="425" height="400" valign="top"></td>
        <td id="attdance" width="100%" height="400" valign="top"></td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%" cellpadding="5" cellspacing="0">
                <!-- TODO: scope out curriculum progress -->
                <tr>
                    <td id="abuse_holder" width="50%" height="400" valign="top" style="border-right:1px solid #efefef;border-bottom:1px solid #efefef;">
                        <a style="float:right; cursor: pointer;" id="abuses_click">click to show graph</a>
                    </td>
                    <td id="abuse" width="50%" height="400" valign="top" style="border-bottom:1px solid #efefef;"></td>


                    <td id="meals_holder" width="50%" height="400" valign="top" style="border-right:1px solid #efefef;border-bottom:1px solid #efefef;">
                        <a style="float:right; cursor: pointer;" id="meals_click">click to show graph</a>
                    </td>
                    <td id="meals" width="50%" height="400" valign="top" style="border-bottom:1px solid #efefef;"></td>
                </tr>

                <tr>
                    <td id="meetings_holder" width="50%" height="400" valign="top" style="border-right:1px solid #efefef;border-bottom:1px solid #efefef;">
                        <a style="float:right; cursor: pointer;" id="meetings_click">click to show graph</a>
                    </td>
                    <td id="meetings" width="50%" height="400" valign="top" style="border-right:1px solid #efefef;"></td>

                    <td id="capitation_holder" width="50%" height="400" valign="top" style="border-right:1px solid #efefef;border-bottom:1px solid #efefef;">
                        <p><b>Still being scoped</b></p>
                        <a style="float:right; cursor: pointer;" id="capitation_click">click to show graph</a>
                    </td>
                    <td id="capitation" width="50%" height="400" valign="top"></td>

                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function(){
    $('#map').load('{% url emis-ministry-dash-map %}');
    $('#attdance').load('{% url emis-ministry-dash-attdance %}');

    $("#abuse").hide();
    $("#meals").hide();
    $("#meetings").hide();

    $('#abuses_click').click(function(){
        $('#abuse_holder').hide();
        $("#abuse").show();
        $('#abuse').load('{% url emis-ministry-dash-abuse %}');
    });

    $('#meals_click').click(function(){
        $('#meals_holder').hide();
        $("#meals").show();
        $('#meals').load('{% url emis-ministry-dash-meals %}');
    });

    $('#meetings_click').click(function(){
        $('#meetings_holder').hide();
        $("#meetings").show();
        $('#meetings').load('{% url emis-ministry-dash-meetings %}');
    });
});
    //TODO activate capitation
    //$('#capitation').load('{% url emis-ministry-dash-capitation %}');
</script>
{% endblock %}