{% load attr %}

<div class="field_box">
<div class="field_table">
<table class="item_table" id="{{ item.pk }}" width="100%"><tr>
{% for name,type in columns %}

  <td class="rule_{{type}}_col">
    {{ item|attr:type }}
  </td>

{% endfor %}

<td class="rule_options_col" >
  {% for button in buttons %}
  
    {% if button.text %}
      <div class="buttons" >
        <a onclick="{{button.click}}(this);" href="javascript:void(0);">
        <img src="{{ MEDIA_URL }}{{button.image}}" alt=""/> 
        {{button.text}}
        </a>
      </div>
    
    {% else %}
      <a style="float:right" onclick="{{button.click}}(this);" href="javascript:void(0);">
        <img border="0" style="padding-top:7px;" src="{{ MEDIA_URL }}{{button.image}}" alt=""/> 
      </a>
    {% endif %}

    
    
    {% if button.text %}
    {% endif %}

  {% endfor %}
</td>

</tr>
</table>
</div>
</div>
