table th  a {
    color: #4bd;
}

div#map {
    margin-top:40px;
    width: 75%;
    height: 400px;
    border: 1px solid #1ebfd2;
    float:left;
}

div#overlays {
    margin-top:40px;
    width: 20%;
    height: 400px;
    border: 1px solid #1ebfd2;
    float: right;
    margin-right: 20px;
}
div#overlays li{
    border-bottom:1px solid #ffffff;
    list-style:none;
    background-color:#4bd;
}

div#overlays li a{
    color:#000000;
}
.help{
    color: #389ece;
  font-weight: bold;
  margin-bottom: 1em;
}

.ajax_loading{
    background-image:url("../icons/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center center;

}

div.breadcrumb{
    border-bottom:1px solid #ccc;
    padding:0 0 10px 10px;
    text-transform:capitalize;
}

div.breadcrumb span{
    font-weight:bold;
}

.results ul {
    list-style-type:none;
    margin:2px;
    padding:0;
}

.results li {
    padding:1px;
    font-size:6pt;
}

div.buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

div.module {
    margin-top: 1em;
}

#filters {
    height: 5em;
}

#div_filter_0 {
    position:absolute;
    left:0;
    top: 3em;
}

#div_filter_1 {
    position:absolute;
    left:33%;
    top: 3em;
}

#div_filter_2 {
    position:absolute;
    left:66%;
    top: 3em;
}

#div_filter_update {
    float:right;
    position:absolute;
    right:0;
    bottom: 0;
}

#div_filter_clear {
    float:right;
    position:absolute;
    right: 0;
    top: 3em;
}

/*#actions {
    height:7em;
}

#id_location {
    width: 7em;
}

#div_action_0 {
    position:absolute;
    top:3em;
    left:0;
}*/

#actions {
   height:10em;
}
#div_action_0 {
   position:absolute;
   top:3em;
   left:0;
   width:50%;
}

#div_action_0 a {
   position:absolute;
   top: 1em;
   left: 25em;
}

.filter_form_help {
    display:none;
}

#div_add_contact {
    background-color:#efefef;
    border:0px;
    border-collapse:collapse;
    font-weight:bold;
    padding: 15px;
}
td.stat {
	padding:0 0 1.0em 0;
}
span.stats	{
	font-size:1.2em;
	font-weight:bold;
}

span.dates {
	color:red;
	float:right;
	font-weight:bold;
}

p {
	padding:0 0 0.2em 0;
}

.ratios-left {
    text-align: left;
    font-weight:bold;
    padding:1em;
    background-color: #FFEEBE;
}

.ratios-right {
    text-align: left;
    padding: 0.5em;
    font-size: 1em;
    background-color: #FFFFBE;
}

.alerts-odd {
    background-color: #FFEEBE;
}

.alerts-even {
    background-color: #FFFFBE;
}

.alert{
    text-align:left;
    font-size:1.1em;
    padding:0.5em;
}

.red-alert{
    color:red;
}
.qt-head {
	text-align: center;
	font-weight:bold;
	padding:0.5em;
	background-color: #FFEEBE;
}

.qt-body {
	text-align: center;
	padding: 0.5em;
	font-size: 2em;
	background-color: #FFFFBE;
}

.school_detail{
    border-collapse:collapse;
    border-color:#cecece;
}
.school_detail th{
    text-align:left;
}

.filter_form_help {
    font-size:8pt;
    color:gray;
    position:relative;
    float:left;
    top:.5em;
}

#filters {
    height:6.5em;
}

#div_filter_0 {
    position:absolute;
    left:0;
    top:3em;
}

#div_filter_0 input {
    position:absolute;
	margin-left:5%;
/*    left:70%;*/
    top:0em;
}

#div_filter_1 {
    position:absolute;
    left:27%;
    top: 3em;
}

#div_filter_2 {
    position:absolute;
    left:49%;
    top: 3em;
}

#div_filter_3 {
    position:absolute;
    left:64%;
    top: 3em;
}

#div_filter_update {
    position:absolute;
    right:1em;
    top: 5em;
}

#div_filter_clear {
    position:absolute;
    right:7em;
    top: 5em;
}

td.stats_title{
	font-size:1.2em;
	font-weight:bold;
}


div#boy_container{
    margin-top: 10px;
}
div#girl_container{
    padding: 10px;
    margin-top:20px;
}

div.charts {
    width:inherit;
    clear:both;
}

div#col-1, div#col-2{
    width:49.8%;
}
div#col-1, div#col-2{
    border:1px solid #ddd;
}
div#abuse_container{
    border-bottom: 1px solid #ddd;
}

div#col-1 span{
    text-align: center;
}
span#lunch_verdict{
    text-align: right;
}
div#col-1, div#col-2 h3{
    text-align: center;
}
div#col-1{
    float:left;
}
div#col-2{
    float:right;
}
div#smc_meetings{
    margin-top:40px;
}

div.wrappit{
    width:inherit;
}
div.map{
    width: 50%;
}

div.weekly_data{
    float:right;
}

div.weekly_data table{
    width: 100%;
    margin-bottom: 18px;
    padding:0;
    font-size: 13px;
    border-collapse: collapse;
    border:1px solid #ddd;
}


div.weekly_data table th, td{
    padding: 10px 10px 9px;
    line-height: 18px;
}

div.weekly_data table th{
    padding-top:9px;
    font-weight: bold;
    vertical-align: middle;
}

div.weekly_data table td{
    vertical-align: top;
    border-top:1px solid #ddd;
}

div.weekly_data table th + th, div.weekly_data td + td, div.weekly_data th + td {
    border-left: 1px solid #ddd;
}

div.weekly_data table thead tr:first-child th:first-child, div.weekly_data table tbody tr:first-child td:first-child{
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}

div.weekly_data table tbody tr:last-child td:first-child{
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}

div.weekly_data table tbody tr:nth-child(odd) td, div.weekly_data table tbody tr:nth-child(odd) th{
    background-color: #f9f9f9;
}

div.weekly_data table tbody tr:hover td, div.weekly_data table tbody tr:hover th{
    background-color: #f5f5f5;
}

div.img, div.img img, div.img h3{
    float: left;
    width: 280px;
}

div.indicator{
    width:150px;
    float:right;
}
div.map{
    float:left;
}

div.spanny{
    text-align: center;
}

div.weekly_data td.figures{
    text-align: center;
}

div.progress{
    width: inherit;
    margin-top: 500px;
    clear: both;
}
div.progress span{
    font-size: 1.5em;
}

div.align_progress{
    text-align: center;
    margin-top:10px;
}
div.progress span.inner_span {
    font-size: 0.5em;
}

div#p3, div#p6{
    float:inherit;
    padding:20px;
}