{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% comment %} using url from future to pass context vars {% endcomment %}
{% load url from future %}
{% block title %}
{{ title }} -- {{ block.super }}
{% endblock %}

{% block masthead %}
<div class="page-header">
	<h2>{{ title }}</h2>
</div>
{% endblock %}

{% block content %}
        <div class="general" style="min-height: 200px;">

		<div class="well">
			<form action="" method="post" class="form-inline selector">
				<fieldset>
					{% csrf_token %}
					<span class="help-block">Please click the text boxes to select date range for data</span>

					<label>From</label>
					{{ form.from_date }}

					<label>To</label>
					{{ form.to_date }}

					<button type="submit" class="btn btn-primary">Search</button>
				</fieldset>
			</form>
			<script>
				$(function(){
					$('#id_from_date').datepicker();
					$('#id_to_date').datepicker();
				});
			</script>
		</div>

            {% if dataset %}
            <!--{{data_set}} variable is produced when the form has been POSTed-->
	    <table class="table">
		    <tr>
			    <th>District</th>
			    {% for date1, date2 in date_batch %}
			    {% if mmonth_flag %}
			    <th style="font-size: .7em;">{{ date1|date:"M" }}</th>
			    {% else %}
			    <th style="font-size: .7em;">{{ date1|date }}</th>
			    {% endif %}
			    {% endfor %}
		    </tr>
		    {% for location, figure_list in dataset %}
		    <tr>
			    <td>{{ location }}</td>
			    {% for figure in figure_list %}
			    <td>
				    {% if figure == '--' %}
				    {{ figure }}
				    {% else %}
				    {{ figure|floatformat }}
				    {% endif %}
			    </td>
			    {% endfor %}
		    </tr>
		    {% endfor %}
	    </table>

            {% else %}
                <span class="label label-info"><strong>Data Column Abbreviation</strong> E: Enrollment, C: Current Week, P: Previous Week</span>

                <div class="attendance" style="clear:both;">
                    <h2>Weekly Change in {{ title }} {{ week|date:"D d M Y" }}</h2>
                    <div class="top">
                        {% if dataset_school %}
                            {% paginate dataset_school %}
                            <table class="table tabulated-data">
                                <thead>
                                <tr>
                                    {% for heading in headings %}
                                    <th>{{heading}}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity_attribute, vals in dataset_school %}
                                <tr>
                                    <td><a href="">{{ entity_attribute }}</a>
                                    <!--<td>{% if cur_value == '--' or cur_value == 0%} {{ cur_value }} {% else %} {{ cur_value|floatformat }} {% endif %}</td>-->
                                    <!--<td>{% if prev_value == '--' or prev_value == 0%} {{ prev_value }} {% else %} {{ prev_value|floatformat }} {% endif %}</td>-->
                                    <td>{{ vals.0 }}</td>
                                    <td>{{ vals.1 }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        {% if location_data %}
                            {% paginate 25 location_data %}
                            <table class="table tabulated-data">
                                <thead>
                                <tr>
                                    {% for heading in headings %}
                                    <th>{{ heading }}</th>
                                    {% endfor %}
                                </tr>

                                </thead>
                                <tbody>
                                {% for entity_attribute, cur_value, prev_value, enrolled,current,previous in location_data %}
                                <tr>
                                    <td><a href="{% url url_name entity_attribute.id %}">{{ entity_attribute }}</a> ({{ entity_attribute.type_id }})</td>
                                     <td> E: {% if enrolled == '--' or enrolled == 0%} {{ enrolled }} {% else %} {{ enrolled|floatformat }} {% endif %}
                                     C: {% if current == '--' or current == 0%} {{ current }} {% else %} {{ current|floatformat }} {% endif %}
                                     P: {% if previous == '--' or previous == 0%} {{ previous }} {% else %} {{ previous|floatformat }} {% endif %}
                                     </td>
                                    <td>{% if cur_value == '--' or cur_value == 0%} {{ cur_value }} {% else %} {{ cur_value|floatformat }} {% endif %}</td>
                                    <td>{% if prev_value == '--' or prev_value == 0%} {{ prev_value }} {% else %} {{ prev_value|floatformat }} {% endif %}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="paginator">
                            {% show_pages %}
                        </div>
                    {% endif %}
                </div>

            {% endif %}

        </div>
{% endblock %}
