<div class="field_table" id="{{field.id}}">
<table width="100%"><tr>
<td class="field_name_col"><a href="javascript:void(0);"><img class="grippy" src="{{MEDIA_URL}}xforms/images/grippy_grid.png" style="vertical-align:middle;padding-right:8px;padding-left:3px" border="0"></a>{{ field.caption }}</td>
<td class="field_type_col">{{ field.type }}</td>
<td class="field_command_col">{{ field.command }}</td>
<td class="field_description_col">{{ field.description }}</td>
<td class="field_options_col">
    
  <a onclick="deleteField(this);" class="negative" style="float:right">
    <img style="vertical-alignment:bottom;padding-top:7px" src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" alt=""/>
  </a>

  <div class="buttons">
    <a onclick="editField(this);" href="javascript:void(0);">
        <img src="{{ MEDIA_URL }}xforms/icons/silk/pencil.png" alt=""/> 
        Edit
    </a>
    <a onclick="saveField(this);" href="javascript:void(0);" id="save_{{field.pk}}">
      <img src="{{ MEDIA_URL }}xforms/icons/silk/bullet_wrench.png" alt=""/>Constraints
    </a>
  </div>

</td>
</tr></table>
</div>