{% extends "xforms/layout.html" %}
{% load dumper %}
{% load prop %}
{% block content %}


  <script type="text/javascript">

  
    $(document).ready(function() {
      $("#sortable").sortable({helper: fixHelper}).disableSelection;
      
      $(".row").each(function() {
        viewRow($(this));
      });
    });
    
    function viewRow(row) {
      var itemId = row.attr("id");
      row.load(getViewUrl(itemId));
    }

    // For a given row, grab its data from the database and load it in
    function viewJSONRow(row) {
      var itemId = row.attr("id");
      $.getJSON("/xforms/{{xform.pk}}/field/" + itemId + "/json/", function(data) {
        if (data.length > 0) {
          row.children().each(
            function() {
              var fieldName = $(this).attr("id");
              $(this).html("<b>" + data[0].fields[fieldName] + "</b>");
            });
          }
       });
    }
  
    // Return a helper with preserved width of cells
    var fixHelper = function(e, ui) {
      ui.children().each(function() { $(this).width($(this).width());});
      return ui;
    };
    
    {% block table_scripts %}
    
    {% endblock %}
    
  </script>

  {% block table_header %}{% endblock %}

  <table width="100%" class="rich_table">
  <thead>
  <tr>
  
  {% for name, type in columns %}
  <th id="{{type}}_header">{{name}}</th>
  {% endfor %}
  
  {% if buttons %}
  <th id="options_header">Options</th>
  {% endif %}
  
  </tr>
  </thead>
  
  <tbody>
    <tr><td class="sortable_cell" colspan="5">
      <ul id="sortable">
        {% for item in table %}
          <li id="{{item.pk}}" class="row ui-state-default"></li>
        {% endfor %}
      </ul>
    </td></tr>
  </tbody>
  </table>
  

  {% block table_footer %}{% endblock %}
  
  <div id="error"></div>

{% endblock %}
