{% extends "layout.html" %}
{% block title %}XForms{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/layout.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/tables.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/forms.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/forms.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}xforms/stylesheets/style.css" />
{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}xforms/javascripts/jquery-ui-1.7.3.custom.min.js"></script> 
{% endblock %}