{% extends "xforms/layout.html" %}
{% block title %}XForms{% endblock %}

{% block content %}

<div class="details">
<div class="name">{{ xform.name }} Submissions</div>
</div>

<table width="100%" class="form_table"> 
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Connection</th>
      {% for field in fields.all %}
      <th>{{ field.caption }}</th>
      {% endfor %}
      <th>Message</th>
      <th></th>
    </tr>
  </thead>

  {% if submissions %}
  {% for submission in submissions %}
  <tr class="form_table_row">
    <td>
      {% if submission.has_errors %}
      <font color='red'>
      {% else %}
      <font color='green'>
      {% endif %}
      {{ submission.created|date:"m/j/y G:i:s"}}</td>
    </font>
    <td>{{ submission.type }}</td>
    <td>{{ submission.connection }}</td>
    {% for field in fields.all %}
    <td>
      {% for value in submission.values.all %}
      {% ifequal field value.field %}
      {{ value.value }}
      {% endifequal %}
      {% endfor %}
    </td>
    {% endfor %}
    <td><code>{{ submission.raw|slice:":50" }}</code></td>
    <td>
      <div class="buttons">
	<a href="/xforms/submissions/{{ submission.pk }}/edit/">
          <img src="{{ MEDIA_URL }}xforms/icons/silk/pencil.png" alt=""/> Edit
	</a>
      </div>
    </td>
  </tr>
  {% endfor %}
  {% else %}
  <tr class="form_table_row">
    <td colspan="10">
      <i>No submissions for this form.</i>
    </td>
  </tr>
  {% endif %}
</table>
<br/>

</div>

{% endblock %}
