{% extends "education/admin/admin_dashboard.html" %}
{% block content %}
        <div class="general">
<p><a href="{% url rapidsms-dashboard %}" style="text-decoration: none; line-height: inherit;">← Back to EdTrac Home Page</a></p>
        <div>
        <div id="meals" style="float:left;"></div>
        <script type="text/javascript">
            $(document).ready(function(){
                var line_chart;
                load_line_graph('Meals', null, 'meals', 'Schools that have reporterd in terms of percentages', 'Months of the year');
            });
        </script>
            <div class="choose" style="float:right;">
                <span style="font-size: 1em;">Choose level of meals had at school</span>
                <form action="" method="post">
                    <p>
                        <label for="meal_0percent">0% of children had meals</label>
                    </p>
                    <p>
                        <label for="meal_25percent">25% of children had meals</label>
                    </p>
                    <p>
                        <label for="meal_50percent">50% of children had meals</label>
                    </p>
                    <p>
                        <label for="meal_75percent">75% of children had meals</label>
                    </p>
                    <p>
                        <label for="meal_100percent">100% of children had meals</label>
                    </p>
                </form>
            </div>
        </div>
        <div class="school_reports" style="clear: both;">
            <table class="classy">
                <thead>
                <tr>
                    <th>Districts</th>
                    <th>No pupils had meals</th>
                    <th>A quarter of pupils had a meal</th>
                    <th>Half the pupils had a meal</th>
                    <th>Three quarters of pupils had a meal</th>
                    <th>All pupils had meals</th>
                </tr>
                </thead>
                <tbody>

                {% if school_meals_reports %}
                {% for name, list in school_meals_reports.items %}
                <tr>
                    <td>{{ name }}</td>
                    {% for tupple_item in list %}
                    <td>{{ tupple_item.1 }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="6" style="text-align: center;">No data</td> </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="community_reports">
            <h3>Reports by community reporters</h3>
            <table class="classy">
                <thead>
                <tr>
                    <th>Districts</th>
                    <th>No pupils had meals</th>
                    <th>A quarter of pupils had a meal</th>
                    <th>Half the pupils had a meal</th>
                    <th>Three quarters of pupils had a meal</th>
                    <th>All pupils had meals</th>
                </tr>
                </thead>
                <tbody>

                {% if community_meals_reports %}
                {% for name, list in community_meals_reports.items %}
                <tr>
                    <td>{{ name }}</td>
                    {% for tupple_item in list %}
                    <td>{{ tupple_item.1 }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="6" style="text-align: center;">No data</td> </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
        </div>
{% endblock %}