{% extends "education/admin/admin_dashboard.html" %}
{% block content %}
<p><a href="{% url rapidsms-dashboard %}" style="text-decoration: none; line-height: inherit;">← Back to EdTrac Home Page</a></p>
<div class="top_row">
    <!-- violence chart detail goes over here -->
    <div id="progress"></div>
</div>

<p>
    here {{ violence_cases }}
</p>


<div id="table_row">
    <div class="school_report">
        <div class="table_container">
            <div class="table">
                <h2>Curriculum Progress</h2>
                <table class="classy">
                    <tr>
                        <thead>
                        <th>District</th>
                        <th>Literacy sub theme completed</th>
                        <th>Percentage of schools at level</th>
                        <th>Progress Status</th>
                        </thead>
                    </tr>
                    <tr>
                        <td>Kampala</td><td>1.3 People in our subcounty/Division</td><td>75%</td><td style="color:green;">On Schedule</td>
                    </tr>
                    <tr>
                        <td>Kotido</td><td>1.2 Physical features of our sub-county/Division</td><td>90%</td><td style="color:orange;">1 week behind schedule</td>
                    </tr>
                    <tr>
                        <td>Kyegegwa</td><td>1.1 Name and location of our Sub-county/Division</td><td>90%</td><td style="color:red;">2 weeks behind schedule</td>
                    </tr>
                    <tr>
                        <td>Kabarole</td><td>2.1 Occupations of people in our Sub-county</td><td>51%</td><td>1 week ahead of schedule</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var bar_chart;
        //TODO generalize function.
        load_column('Curriculum Progress', 'progress', 'Number of districts', 'Sub Theme', {{ subthemes }}, {{ subthemes_val }});
    });
</script>

{% endblock %}