{% extends "generic/base.html" %}
{% load humanize %}
{% load i18n %}
{% load stats_extras %}
{% block title %}
Violence Cases - {{ block.super }}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/jquery-ui-1.8.19.custom.css"/>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/bootstrap-responsive.min.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/application.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/dashboard.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/tablecloth.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/prettify.css" /> 
{% endblock %}

{% block javascripts %}
{{ block.super }}
    <script src="{{ MEDIA_URL }}education/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/jquery-ui-1.8.19.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/jquery-ui-1.7.3.custom.min.js"></script>
    <script src="{{ MEDIA_URL }}education/javascripts/add_datepicker.js" type="text/javascript"></script>
{% endblock %}

<div id="wrapper">


{% block header %}
<div id="topbar">
  
  <div class="container">
    
    <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
      <i class="icon-cog"></i>
    </a>
  
    <div id="top-nav">      
      <ul class="pull-right">
        {% if user.is_authenticated %}
        <li><a href=""><i class="icon-user"></i> Logged in as {{ user.username }}</a></li>
        <li><a href="{% url rapidsms-logout %}">Logout</a></li>
        {% else %}
        <li><a href="{% url rapidsms-login %}">{% trans "Log in" %}</a></li>
        {% endif %}
      </ul>
      
    </div> <!-- /#top-nav -->
    
  </div> <!-- /.container -->
  
</div> <!-- /#topbar -->
<div id="header">
    
    <div class="container">


      <a href="{% url rapidsms-dashboard %}" style="position:relative;top:20px;display: block;overflow: hidden;width: 180px;height: 45px;margin-right: .75em;"><img src="{{MEDIA_URL }}education/icons/web_logo.png" alt="EduTrac"></a>
    
    <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <i class="icon-reorder"></i>
    </a>

    <div class="nav-collapse">
      <ul id="main-nav" class="nav pull-right">
        <li>
          <a href="{% url rapidsms-dashboard %}">
            <!-- <i class="icon-home"></i> -->
            <span>Home</span>                 
          </a>
        </li>
        
        <li class="dropdown">         
          <a href="/edtrac/control-panel/">
            <span>Control Panel</span> 
          </a>  
        </li>
      </ul>
      
    </div> <!-- /.nav-collapse -->
    </div> 
    
</div>  

<div id="masthead">
    
    <div class="container">
        
        <div class="masthead-pad">
            
            <div class="masthead-text">
                <h2>Violence Dashboard</h2>
                <p>Reported violence statistics based on {{ sch_reporting_percentage }}% of Total Reporters.</p>
            </div> <!-- /.masthead-text -->
            
        </div>
        
    </div> <!-- /.container --> 
    
</div> <!-- /#masthead -->



{% endblock %}
{% block content %}
<div id="content">

  <div class="container">
    <div class="row">
        <div class="span12">
      <h2 class="title">Violence cases in Schools</h2>
        <ul class='breadcrumb'>
            <li><a href="#" id="girls">Girls</a></li> |
            <li><a href="#" id="boys">Boys</a></li> |
            <li><a href="#" id="reported">Referred to Police</a></li> |
            <li><a href="#" id="gem">Reports by GEM</a></li>
        </ul>
       
            <div id="violence"></div>
            <div id="violence-graph"></div>
       </div>         
    </div> <!-- /.row -->

    <div class="row">
        <div class="span12">
            <h3 class="title">Violence cases against girls</h3>
            <table class="table tabulated-data">
            <thead>
              <tr>
                <th>District</th>
                <th>Cases recorded in {{ report_dates.0|date:"M Y"}}</th>
                <th>Cases recorded in {{ report_dates.1|date:"M Y"}}</th>
                <th>Percentage change (%)</th>
              </tr>           
            </thead>

            <tbody>
                {% if violence_cases_girls %}
                    {% for name, list in violence_cases_girls %}
                        {% if list.0 == 0 and list.1 == 0 %}
                        {% else %}
                            <tr>
                                <td><a href="{% url district-violence list.2.pk %}">{{ list.2 }}</a></td>
                                <td>{{ list.0 }}</td> <!-- current month -->
                                <td>{{ list.1 }}</td>
                                <!-- TODO check if list.3 is a decimal and limit dps -->
                                <td>
                                    {% if list.3 == '--' %}
                                        {{ list.3 }}
                                    {% else %}
                                    {{ list.3|floatformat }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                  {% endfor %}
                <tr>
                    <td>Total</td>
                    {% for t in girls_totals %}
                    <td>{{ t|floatformat }}</td>
                    {% endfor %}
                </tr>
                {% else %}
                    <tr><td colspan="4" style="text-align: center;">No cases</td> </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
        <div class="span12">
            <h3 class="title">Violence cases against boys</h3>
            <table class="table tabulated-data">
            <thead>
              <tr>
                <th>District</th>
                <th>Cases recorded in {{ report_dates.0|date:"M Y"}}</th>
                <th>Cases recorded in {{ report_dates.1|date:"M Y"}}</th>
                <th>Percentage change (%)</th>
              </tr>           
            </thead>

            <tbody>
                {% if violence_cases_boys %}
                    {% for name, list in violence_cases_boys %}
                        {% if list.0 == 0 and list.1 == 0 %}
                        {% else %}
                            <tr>
                                <td><a href="{% url district-violence list.2.pk %}">{{ list.2 }}</a></td>
                                <td>{{ list.0 }}</td> <!-- current month -->
                                <td>{{ list.1 }}</td>
                                <!-- TODO check if list.3 is a decimal and limit dps -->
                                <td>
                                    {% if list.3 == '--' %}
                                        {{ list.3 }}
                                    {% else %}
                                    {{ list.3|floatformat }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                  {% endfor %}
                <tr>
                    <td>Total</td>
                    {% for t in boys_totals %}
                    <td>{{ t|floatformat }}</td>
                    {% endfor %}
                </tr>
                {% else %}
                    <tr><td colspan="4" style="text-align: center;">No cases</td> </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
        <div class="span12">
            <h3 class="title">Violence cases referred to Police</h3>
            <table class="table tabulated-data">
            <thead>
              <tr>
                <th>District</th>
                <th>Cases recorded in {{ report_dates.0|date:"M Y"}}</th>
                <th>Cases recorded in {{ report_dates.1|date:"M Y"}}</th>
                <th>Percentage change (%)</th>
              </tr>           
            </thead>

            <tbody>
                {% if violence_cases_reported %}
                    {% for name, list in violence_cases_reported %}
                        {% if list.0 == 0 and list.1 == 0 %}
                        {% else %}
                            <tr>
                                <td><a href="{% url district-violence list.2.pk %}">{{ list.2 }}</a></td>
                                <td>{{ list.0 }}</td> <!-- current month -->
                                <td>{{ list.1 }}</td>
                                <!-- TODO check if list.3 is a decimal and limit dps -->
                                <td>
                                    {% if list.3 == '--' %}
                                        {{ list.3 }}
                                    {% else %}
                                    {{ list.3|floatformat }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                  {% endfor %}
                <tr>
                    <td>Total</td>
                    {% for t in reported_totals %}
                    <td>{{ t|floatformat }}</td>
                    {% endfor %}
                </tr>
                {% else %}
                    <tr><td colspan="4" style="text-align: center;">No cases</td> </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>      
    
<div class="row">
        <div class="span12">
            <h3 class="title">Violence cases reported by community members</h3>
            <table class="table tabulated-data">
            <thead>
              <tr>
                <th>District</th>
                <th>Cases recorded in {{ report_dates.0|date:"M Y"}}</th>
                <th>Cases recorded in {{ report_dates.1|date:"M Y"}}</th>
                <th>Percentage change (%)</th>
              </tr>           
            </thead>

            <tbody>
                {% if violence_cases_reported_by_gem %}
                    {% for name, list in violence_cases_reported_by_gem %}
                        {% if list.0 == 0 and list.1 == 0 %}
                        {% else %}
                            <tr>
                                <td><a href="{% url district-violence list.2.pk %}">{{ list.2 }}</a></td>
                                <td>{{ list.0 }}</td> <!-- current month -->
                                <td>{{ list.1 }}</td>
                                <!-- TODO check if list.3 is a decimal and limit dps -->
                                <td>
                                    {{ list.3 }}
                                </td>
                            </tr>
                        {% endif %}
                  {% endfor %}
                <tr>
                    <td>Total</td>
                    {% for t in gem_totals %}
                    <td>{{ t }}</td>
                    {% endfor %}
                </tr>
                {% else %}
                    <tr><td colspan="4" style="text-align: center;">No cases</td> </tr>
                {% endif %}
            </tbody>
        </table>
        <p class="report alert-message block-message">Results for this month based on {{ gem_reporting_percentage }}% of GEM Reporters</p>
    </div>
</div>

</div> <!-- /.container -->

</div> <!-- /#content -->
</div> <!-- end wrapper -->

<script src="{{MEDIA_URL}}contact/javascripts/messages.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}education/javascripts/emis_reporters.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}education/javascripts/bootstrap-modal.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}education/javascripts/jquery.metadata.js"></script>
<script src="{{MEDIA_URL}}education/javascripts/jquery.tablesorter.min.js"></script>
<script src="{{MEDIA_URL}}education/javascripts/jquery.tablecloth.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/alert_messages.js"></script>
    

    <script>
        $(document).ready(function(){
            violence_cases('{{ monthly_violence_data_girls }}', title = "Violence cases - Girls");
            $('a#girls').click(function(event){
               violence_cases(
                       '{{ monthly_violence_data_girls }}',
                       title = "Violence cases - Girls"
               );
            });
            $('a#boys').click(function(event){
               violence_cases(
                       '{{ monthly_violence_data_boys }}',
                       title = "Violence cases - Boys"
               );
            });
            $('a#reported').click(function(event){
               violence_cases(
                       '{{ monthly_violence_data_reported }}',
                       title = "Violence cases referred to Police"
               );
            });
            $('a#gem').click(function(event){
                violence_cases(
                        '{{ monthly_data_gem }}',
                        title = "Violence in Uganda (GEM reports)"
                );
            });
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('.viol').hide();
        $('a#show-table').click(function(event){
            $('.viol').show();
        });
        $('a#hide-table').click(function(event){
            $('.viol').hide();
            event.preventDefault();
        })
    });
</script>

{% endblock %}
