{% extends "education/admin/admin_dashboard.html" %}
{% block title %} Absenteeism Records for Uganda {{ block.super }} {% endblock %}
{% block content %}
<ul class="breadcrumb"><li><a href="{% url rapidsms-dashboard %}">← Back to the EduTrac Home Page</a></li></ul>
<div class="general">
<div class="attendance">
    <div class="stats page-header">
        <h2>Absenteism Records for {{ location }}</h2><br/>
        {% ifequal role_name "Admins" %}
        <p>Total districts: {{ total_districts }}</p>
        {% endifequal %}
    </div>

    <style>
        ul > li{
            margin-bottom: 5px;
        }
    </style>
    <h2 class="block-header">Absenteeism recorded as of(week: {{ week|date:"D d M Y" }})</h2>
    <div style="background-color:whitesmoke;">
        <ul style="list-style: circle; margin-left:20px; font-size:1.2em; padding:20px;">
            <li>
                <a href="{% url boys-p3-range %}" rel="tooltip" title="Absenteeism record for P3 Boys">
                Boys P3 Absenteeism
                </a>
                <div class="alert-message" style="padding:20px;">
                    Absenteeism is computed as a percentage of number of P3 boys in class in a particular week over
                    P3 boys enrolled in a particular school or district.
                </div>
            </li>
            <li><a href="{% url boys-p6-range %}" rel='tooltip' title="Absenteeism record for P6 Boys">Boys P6 Absenteeism</a>
                <div class="alert-message" style="padding:20px;">
                    Absenteeism is computed as a percentage of number of P6 Boys in class in a particular week over
                    P6 boys enrolled in a particular school or district.
                </div>
            </li>
            <li><a href="{% url girls-p3-range %}" rel='tooltip' title="Absenteeism record for P3 Girls">Girls P3 Absenteeism</a>
                <div class="alert-message" style="padding:20px;">
                    Absenteeism is computed as a percentage of number of P3 Girls in class in a particular week over
                    P3 girls enrolled in a particular school or district.
                </div>
            </li>
            <li><a href="{% url girls-p6-range %}" rel='tooltip' title="Absenteeism record for P6 Girls">Girls P6 Absenteeism</a>
                <div class="alert-message" style="padding:20px;">
                    Absenteeism is computed as a percentage of number of P6 Girls in class in a particular week over
                    P6 girls enrolled in a particular school or district.
                </div>
            </li>
            <li><a href="{% url f-teachers-range %}" rel='tooltip' title="Absenteeism record for Female teachers">Female Teachers Absenteeism</a>
                <div class="alert-message" style="padding:20px;">
                    Absenteeism is computed as a percentage of number of <span style="font-weight: bold;">female teachers</span> that taught a class in a particular week over
                    Female teachers deployed to a particular school or district.
                </div>
            </li>
            <li><a href="{% url m-teachers-range %}" rel='tooltip' title="Absenteeism record for Male teachers">Male Teachers Absenteeism</a>
                <div class="alert-message" style="padding:20px;">
                    Absenteeism is computed as a percentage of number of male teachers that taught a class in a particular week over
                    Female teachers deployed to a particular school or district.
                </div>
            </li>
        </ul>

    </div>
</div>

</div>
<script>
    $(document).ready(function(){
        $("[rel=tooltip]").tooltip();
    });
</script>
{% endblock %}