{% extends "education/admin/admin_dashboard.html" %}
{% block content %}
<!--
<div class="viz-wrapper">
    <div id="map" style="width:inherit; height:inherit; float:left;"></div>
    <div style="float: right">test</div>
</div>


<script>
    $(document).ready(function(){
        $('#map').load("{% url attendance-visualization %}");
    });
</script>

-->

        <div class="page-header">
            <h2>Absenteism Records for {{ location }}</h2><br/>
            {% ifequal role_name "Admins" %}
            <p>Total districts: {{ total_districts }}</p>
            {% endifequal %}
        </div>


<!-- TODO: work on a nice search
<div class="search-form">
    <span>Search District:</span><br/><br/>
    <form action="search/{{ district.id }}" method="post">
        <input type="search"/>

        <button>Load Statistics</button>
    </form>
</div>

-->
        
<div class="attendance">
    <h2 class="block-header">Absenteeism recorded as of(week: {{ week|date:"D d M Y" }})</h2>
    <div class="top">
        <table class="tabulated-data">
            <tbody>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>

                {% for a, b, c, d, e, f, g in location_data %}
            <tr>
                <td><a href="#">{{ a }}</a></td>
                <td>
                    {% for w, x, y, z in b %}
                        <a href="#" rel='tooltip' title="Current week: {{x|floatformat}}%">{{ x|floatformat }}</a>,
                        <a href="#" rel="tooltip" title="Previous Week: {{y|floatformat}}%">{{ y|floatformat }}</a>,
                        <a href="#" rel="tooltip" title="Difference in percentage is {{ z|floatformat }}%">{{ z|floatformat }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for w, x, y, z in c %}
                    <a href="#" rel='tooltip' title="Current week: {{x|floatformat}}%">{{ x|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Previous Week: {{y|floatformat}}%">{{ y|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Difference in percentage is {{ z|floatformat }}%">{{ z|floatformat }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for w, x, y, z in d %}
                    <a href="#" rel='tooltip' title="Current week: {{x|floatformat}}%">{{ x|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Previous Week: {{y|floatformat}}%">{{ y|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Difference in percentage is {{ z|floatformat }}%">{{ z|floatformat }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for w, x, y, z in e %}
                    <a href="#" rel='tooltip' title="Current week: {{x|floatformat}}%">{{ x|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Previous Week: {{y|floatformat}}%">{{ y|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Difference in percentage is {{ z|floatformat }}%">{{ z|floatformat }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for w, x, y, z in f %}
                    <a href="#" rel='tooltip' title="Current week: {{x|floatformat}}%">{{ x|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Previous Week: {{y|floatformat}}%">{{ y|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Difference in percentage is {{ z|floatformat }}%">{{ z|floatformat }}</a>
                    {% endfor %}
                </td>

                <td>
                    {% for w, x, y, z in g %}
                    <a href="#" rel='tooltip' title="Current week: {{x|floatformat}}%">{{ x|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Previous Week: {{y|floatformat}}%">{{ y|floatformat }}</a>,
                    <a href="#" rel="tooltip" title="Difference in percentage is {{ z|floatformat }}%">{{ z|floatformat }}</a>
                    {% endfor %}
                </td>
            </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("[rel=tooltip]").tooltip();
    });
</script>



{% endblock %}