{% extends "education/admin/admin_dashboard.html"%}
{% load endless %}
{% block title %} Audit Trail - {{ block.super }} {% endblock %}
{% block content %}
<ul class="breadcrumb">
	<li><a href="{% url rapidsms-dashboard %}"> Dashboard</a></li>
</ul>
<div class="nice"><h3>Audit Trail</h3></div>
<div class='general'>
    <div>
        <table class="tabular-data classy">
            <tr>
                <th>User</th>
                <th>comment</th>
                <th>Date</th>
            </tr>
            {% paginate 50 revisions %}
            {% for user, comment, date_created in revisions %}
            <tr>
                <td> {{ user }} </td>
                <td>{% if comment %} {{ comment }} {% else %} -- {% endif %}</td>
                <td>{{ date_created }}</td>
            </tr>
            {% endfor %}
        </table>
        {% show_pages %}

    </div>

</div>
{% endblock %}
