{% extends "education/layout_base.html" %}
{% block title %}
    Dashboard -- {{ block.super }}
{% endblock %}
{% block content %}
    <div id="container" style="min-width: 400px; height: 400px; padding-bottom: 40px"></div>
    <div style="margin: 10px; padding: 10px">
        <table class="tabulated-data classy">
            <tr>
                <th>
                    District
                </th>
                <th>
                    P3 Pupils Absenteeism Percentage
                </th>
                <th>
                    P6 Pupils Absenteeism Percentage
                </th>
                <th>
                    Teachers Absenteeism Percentage
                </th>
                <th>
                    Male Head Teachers Absenteeism Percentage
                </th>
                <th>
                    Female Head Teachers Absenteeism Percentage
                </th>
            </tr>
            {% for key, value in collective_result.items %}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ value.p3_pupils }}
                    </td>
                    <td>
                        {{ value.p6_pupils }}
                    </td>
                    <td>
                        {{ value.teachers }}
                    </td>
                    <td>
                        {{ value.m_head_teachers }}
                    </td>
                    <td>
                        {{ value.f_head_teachers }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            load_line_graph("Absenteeism Over Current Month",
                    "",
                    "container",
                    "Absent-count",
                    "Weeks",
                   '{{ weeks }}',
                    '{{ time_data }}');

        });

    </script>
{% endblock %}