{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% block title %} National statistics -- {{ block.super }} {% endblock %}
{% block content %}

<div class="back_link">
    <p><a href="{% url rapidsms-dashboard %}" style="text-decoration: none; font-size: 1.2em; color:white; line-height: inherit;">← Back to the EduTrac Home Page</a></p>
</div>
        <div class="general">
            <div style="float: left; width:410px;">
            <p>
            <h3 style="background-color:black; color:white; margin-bottom:5px; padding:10px;">
                EduTrac Districts (total: {{ total_districts }})
            </h3>
            </p>
            <table class="classy">
                <tr>
                    <th>District</th>
                    <th>Schools being tracked</th>
                </tr>
                {% for district, school_count in district_schools %}
                <tr>
                    <td>{{ district }}</td>
                    <td>{{ school_count }}</td>
                </tr>
                {% endfor %}
            </table>

            </div>

            <div class="stats" style="float:right; width:400px;">
                <p>
                <h3 style="background-color:black; color:white; margin-bottom:5px; padding:10px; text-align:center;">EduTrac Reporters</h3>
                <span>Head Teachers</span>: <span style="color:white;">{{ head_teacher_count }}</span><br/><br/>
                <span>SMC Members</span>: <span style="color:white;">{{ smc_count }}</span><br/><br/>
                <span>P6 Teachers</span>: <span style="color:white;">{{ p6_teacher_count }}</span><br/><br/>
                <span>P3 Teachers</span>: <span style="color:white;">{{ p3_teacher_count }}</span><br/><br/>
                <span>GEM</span>: <span style="color:white;">{{ gem_count }}</span><br/><br/>
                <span>District Officials</span><span style="color:white;">{{ deo_count }}</span><br/>
                <span>Total Teachers</span>: <span style="color:white;">{{ total_teacher_count }}</span>
                </p>
                <div style="float:right;">
                    <span>**All Reporters</span>: <span style="color:white; font-size: 1.3em;">{{ all_reporters }}</span>
                </div>
            </div>


            <div style="clear:both;">
                <h3 style="background-color:black; color:white; margin-bottom:5px; padding:10px;">EduTrac usage by Schools (top 3 and worst 3)</h3>

                <div class="stats">
                    <span>Total number of schools: </span><span style="color:white;">{{ school_count }}</span> <br/>
                    <span>Number of active schools: </span><span style="color:white;">{{ school_active_count }}</span><br/>
                </div>


                <table class="classy">
                    <tr>
                        <th>Active (%)</th>
                        <th>Inactive (%)</th>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:450px;">
                                {% for school, active_schools in school_active %}
                                <tr><td>{{ school }}</td><td>{{ active_schools|floatformat }}%</td><td></td></tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td>
                            <table style="width:450px;">
                                {% for school, active_schools in school_less_active %}
                                <tr><td>{{ school }}</td><td>{{ active_schools|floatformat }}%</td></tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>



            <div style="clear:both;">
            <h3 style="background-color:black; color:white; margin-bottom:5px; padding:10px;">EduTrac usage by Head Teachers (top 3 and worst 3)</h3>

            <table class="classy">
                <tr>
                    <th>Active (%)</th>
                    <th>Inactive (%)</th>
                </tr>
                <tr>
                    <td>
                    <table style="width:450px;">
                        {% for district, active_heads in district_active %}
                        <tr><td>{{ district }}</td><td>{{ active_heads|floatformat }}%</td><td></td></tr>
                        {% endfor %}
                    </table>
                    </td>
                    <td>
                        <table style="width:450px;">
                            {% for district, active_heads in district_less_active %}
                            <tr><td>{{ district }}</td><td>{{ active_heads|floatformat }}%</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
            </div>
        </div>
{% endblock %}