{% extends "layout.html" %}
{% block title %}
    Contacts Management - {{ block.super }}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}contact/stylesheets/contact.css" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ block.super }}

    <script src="{{MEDIA_URL}}contact/javascripts/contact.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div id="filters" class="module">
        <h2>Filters</h2>
        {{ filter_forms }}
        <form action="/contact/contact_list" method="Get" id="filter">
            {% for f in filter_form_instances %}
                {{ f }}
            {% endfor %}
            <a href="javascript:void(0)" onclick="filter_contacts(this)"> Update </a>
        </form>

    </div>


    <div id="contacts" class="module">
        <h2>Users</h2>

        <div id="new_contact">

        </div>
        <div id="users">
            <span> <input type="checkbox" name="select all" value="all" onchange="toggle_select_all()">Select All<a                  id="add_new"
                    href="javascript:void(0)"
                    onclick="load_new()"
                    name="add new">Add
                New</a></span>

            <form action="/contact/actions" method="POST">
                <div id="contacts_list">

                    {{ contacts_form.contacts }}

                </div>

        </div>

    </div>
    <div id="actions" class="module">
        <h2>Actions</h2>

<span>Group</span>
        {% for f in action_forms %}
            {{ f }}
        {% endfor %}
        <input type="submit" name="submit" value="execute">
        </form>
    </div>

{% endblock %}