{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% block title %}
Absenteeism of P6 boys in {{ location }} -- {{ block.super }}
{% endblock %}
{% block content %}
<div class="attendance">
    <h2 class="block-header">Attendance Records for P6 Boys by {{ location }} (week: {{ week|date:"D d M Y" }})</h2>

    <div class="top">
        {% paginate location_data %}
        <table class="tabulated-data">
            <thead>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>

            </thead>
            <tbody>
            {% for school, value in location_data %}
            <tr>
                <td><a href="{% url school-detail school.id %}">{{ school }}</a></td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="paginator">
        {% show_pages %}
    </div>

</div>
<!--
<script>
    $(function(){
        $(".tabulated-data").tablesorter({sortList: [
            [0,0],
            [1,0]
        ]});
    });
</script>
-->


{% endblock %}