{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% block title %}
        Absenteeism of P3 Boys in {{ location }} -- {{ block.super }}
{% endblock %}
{% block content %}
<div class="attendance">
    <h2 class="block-header">Absenteeism of P3 Boys for {{ location }} (week: {{ week|date:"D d M Y" }})</h2>

    <div class="top">
        {% paginate location_data %}
        <table class="tabulated-data">
            <thead>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>

            </thead>
            <tbody>
            {% for school, current_week, week_before, diff, enrolled in location_data %}

            <tr>
                <td><a href="{% url school-detail school.id %}">{{ school }}</a></td>
                <td>{{ current_week }}</td>
                <td> {{ week_before }}</td>

                <td class="{% if diff > 0.0 %} positive {% endif %} {% if diff < 0.0 %} negative {% else %}{% endif %} {% if diff == 0.0 %} zero {% endif %} {% if diff == '--'%}{%endif%} "> {{ diff }}</td>
                <td style="color:red; font-size: 0.8em;">{{ enrolled }} (<i>enroll, this_week, prev_week</i>)</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="paginator">
        {% show_pages %}
    </div>

</div>

<!--
<script>
    $(function(){
        $(".tabulated-data").tablesorter({sortList: [
            [0,0],
            [1,0]
        ]});
    });
</script>
-->


{% endblock %}
