{% extends "education/index.html" %}
{% load humanize %}
{% block javascripts %}
        {% block.super %}
        <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/highcharts.js"></script>
{% endblock %}

{% block content %}



        <div class="charts">
            <div id="col-1">
                <div id="abuse">
                    <h2>Abuse Cases Reported this Month</h2>
                </div>
                <div id="smc-meetings">
                    <h2>SMC Meetings this School Term</h2>
                </div>
            </div>
            <div id="col-2">
                <div id="lunch">
                    <h2>Lunch at School this Month</h2>
                </div>
                <div id="capitation">
                    <h2>UPE Capitation Progress this School Term</h2>
                </div>
            </div>
        </div>



{% endblock %}
