{% extends "education/index.html" %}
{% load humanize %}
{% block content %}



        <div class="charts">
            <div id="col-1">
                <div id="abuse">

                </div>
                <div id="smc-meetings">

                </div>
            </div>
            <div id="col-2">
                <div id="lunch">

                </div>
                <div id="capitation">
                    <h2>UPE Capitation Progress this School Term</h2>
                </div>
            </div>
        </div>



{% endblock %}