{% extends "education/base.html" %}
{% load stats_extras %}
{% block content %}
<div class="generic_table">
    <table width="100%" cellpadding="5" cellspacing="0">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Role</th>
            <th>District</th>
            <th>Last Reported</th>
            <th># Reports</th>
            <th>School</th>
            <th>Options</th>
        </tr>
        {% for reporter in emisreporter_list %}
            <tr>
                <td>
                    {% if reporter.default_connection %}
                        <a href="{% url message_history reporter.default_connection.pk %}">
                    {% endif %}
                    {{ reporter.name }}
                    {% if reporter.default_connection %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        {% for c in reporter.connection_set.all %}
                            <li>
                                {{ c.identity }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for g in reporter.groups.all %}
                            <li>
                                {{ g.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ reporter.reporting_location|get_district }}</td>
                <td>{{ reporter|latest|date:"d-m-Y" }}</td>
                <td>{{ reporter|submissions }}</td>
                <td>
                	<ul>
                        {% for s in reporter.schools.all %}
                            <li>
                                {{ s.name }}
                            </li>
                        {% endfor %}
                    </ul>
                 </td>
                {% comment %} 
                <td id="row_{{ reporter.pk }}">{{ reporter.reporting_location.name }}</td>
                {% endcomment %}
                <td class="button_col">
                    <div class="buttons">
                        <a href="javascript:void(0)" onclick="deleteReporter(this, {{ reporter.pk }},'{{ reporter.name }}', '{% url education.views.delete_reporter reporter.pk %}')">
                            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" />
                        </a>
                         <a href="javascript:void(0)" onclick="editReporter(this, {{ reporter.pk }}, '{% url education.views.edit_reporter reporter.pk %}')">
                            <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png" />
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}