{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% block title %}
Absenteeism of Female Teachers in {{ location }} -- {{ block.super }}
{% endblock %}
{% block content %}
<div class="attendance">
	<ul class='breadcrumb'>
		<li>
    		<a href="{% url rapidsms-dashboard %}">
       Dashboard Home</a>
	<span class="divider">/</span>
	</li>
_	<li>
    <a href="{% url f-teachers-range %}">
        Back to the Female Teachers District view
    </a>
	</li>
	</ul>    

    <h2 class="block-header">Absenteeism of Female Teachers for {{ location }} (week: {{ week|date:"D d M Y" }})</h2>

    <div class="top">
        {% paginate 25 location_data %}
        <table class="tabulated-data">
            <thead>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>

            </thead>
            <tbody>
            {% for school, current_week, week_before, diff,enrollment,current,previous in location_data %}
            <tr>
                <td><a href="{% url school-detail school.id %}">{{ school.name }}</a></td>
            <td>
                      E:  {% if enrollment == '--' %}
                            {{ enrollment }}
                        {% else %}
                            {{ enrollment|floatformat }}
                        {% endif %}
                C:  {% if current == '--' %}
                            {{ current }}
                        {% else %}
                            {{ current|floatformat }}
                        {% endif %}
                P:  {% if previous == '--' %}
                            {{ previous }}
                        {% else %}
                            {{ previous|floatformat }}
                        {% endif %}

                    </td>
                <td>
                    {% if current_week == '--' %}
                    {{ current_week }}
                    {% else %}
                    {{ current_week|floatformat }}
                    {% endif %}
                </td>
                <td>
                    {% if week_before == '--' %}
                    {{ week_before }}
                    {% else %}
                    {{ week_before|floatformat }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="paginator">
        {% show_pages %}
    </div>

</div>

<!--
<script>
    $(function(){
        $(".tabulated-data").tablesorter({sortList: [
            [0,0],
            [1,0]
        ]});
    });
</script>
-->


{% endblock %}
