{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% block content %}
<div class="attendance">
    <h2 class="block-header">Attendance Records for P6 Girls by {{ location }} (week: {{ week|date:"D d M Y" }})</h2>

    <div class="top">
        {% paginate location_data %}
        <table class="tabulated-data">
            <thead>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>

            </thead>
            <tbody>
            {% for district, value in location_data %}
            <tr>
                <td><a href="{% url girlsp6-district-attd-detail district.id %}">{{ district }}</a></td>
                <td>{{ value|floatformat }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="paginator">
        {% show_pages %}
    </div>

</div>
<!--
<script>
    $(function(){
        $(".tabulated-data").tablesorter({sortList: [
            [0,0],
            [1,0]
        ]});
    });
</script>
-->


{% endblock %}