{# What the dashboard of Ministry of Education will contain; template will be inherited for other role-based views #}

{% extends "layout.html" %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/layout.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}education/stylesheets/emis.css"/>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/highcharts.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/emis_dashboard_charts.js"></script>
{% endblock javascripts %}
{% block content %}
<div class="module">
    <h2>Welcome to the School Monitoring System</h2>
    <p>
        Welcome to the School Monitoring System, UNICEF's SMS-based Education monitoring and tracking system.
        Click a tab to explore.
    </p>
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.get_profile.role == "Admins" %}
            <p>
                <table width="100%" cellpadding="5" cellspacing="0">
                    <tr>
                        <th align="left">Administrative Tasks</th>  
                    </tr>
                    <tr>
                        <td><a href="{% url emis-users %}">Manage Users</a></td>
                    </tr>
                </table>
            </p>
         {% endif %}
     {% endif %}
</div>

{% block indicators %}
        <div class="wrappit">
        <div class="map">
            <div class="img">
                <h3>Boys Attendance this week</h3>
            <img border="0" src="http://maps.googleapis.com/maps/api/staticmap?center=Kampala,Uganda&amp;zoom=14&amp;size=380x300&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318&amp;markers=color:red%7Clabel:C%7C40.718217,-73.998284&amp;sensor=false" alt="Points of Interest in Lower Manhattan">
            </div>
            <div class="indicator">
                <h3>Select an indicator to...</h3>
                <form>
                    <!-- TODO: using django forms a more dynamic form will be created. This is demo code!!! -->
                    <input type="checkbox" name="girls_attendance" value="girls">Girls Attendance<br/>
                    <input type="checkbox" name="boys_attendance" value="boys">Boys Attendance<br/>
                    <input type="checkbox" name="teachers_attendance" value="teachers">Teachers Attendance<br/>
                    <input type="checkbox" name="headteacher_attendance" value="headteachers">HeadTeacher Attendance<br/>
                    <input type="checkbox" name="meals_consumption" value="meals">Meals Consumption<br/>
                    <input type="checkbox" name="abuse_incidences" value="abuse">Abuse Incidences<br/>
                    <input type="checkbox" name="curriculum_progress" value="progress">Curriculum Progress<br/>
                </form>
            </div>
        </div>

        <div class="weekly_data">
            <h2>This Week</h2>
            <table>
                <thead>
                <th>
                    Group
                </th>
                <th>
                    % Absent
                </th>
                <th>
                    % Present
                </th>
                <th>
                    Change
                </th>
                </thead>
                <tr>
                    <td>Boys P3</td>
                    <td>10%</td>
                    <td>40%</td>
                    <td>
                        >
                    </td>
                </tr>
                <tr>
                    <td>Boys P6</td>
                    <td>25%</td>
                    <td>70%</td>
                    <td>
                        >
                    </td>
                </tr>
                <tr>
                    <td>Girls P3</td>
                    <td>5%</td>
                    <td>22%</td>
                    <td>
                        >
                    </td>
                </tr>
                <tr>
                    <td>Girls P6</td>
                    <td>15%</td>
                    <td>18%</td>
                    <td>
                        >
                    </td>
                </tr>
                <tr>
                    <td>Female Teachers</td>
                    <td>15%</td>
                    <td>48%</td>
                    <td>
                        >
                    </td>
                </tr>
                <tr>
                    <td>Male Teachers</td>
                    <td>10%</td>
                    <td>40%</td>
                    <td>
                        >
                    </td>
                </tr>
                <tr>
                    <td>Female Head Teachers</td>
                    <td>10%</td>
                    <td>40%</td>
                    <td>
                        >
                    </td>
                </tr>
                <tr>
                    <td>Male Head Teachers</td>
                    <td>10%</td>
                    <td>40%</td>
                    <td>
                        >
                    </td>
                </tr>
            </table>
        </div>
        </div>
{% endblock %}

{% block charts %}
<div class="charts">
    <div id="col-1">
        <div id="abuse">
            <script type="text/javascript">
                $(document).ready(abuses());
            </script>
            <!--
            TODO remove this: compute and get number of reports or schools that reported
            colorize different percentages (i.e. red for critical, yellow for something, etc.
            -->
            <span id="abuse_verdict" style="width:30px; color:red;">
                78% of Schools reported this Month
            </span>
        </div>
        <div id="smc_meetings">
            <script type="text/javascript">
                $(document).ready(smc_meetings());
            </script>
            <span id="smc_meetings_verdict" style="width:30px; color:blue;">
                22% of Schools reported this Month
            </span>
        </div>
    </div>
    <div id="col-2">
        <div id="lunch">
            <script type="text/javascript">
                $(document).ready(lunches());
            </script>
            <span id="lunch_verdict" style="width:30px; color:green;">
                46% of Schools reported this Month
            </span>
        </div>
        <div id="capitation">
            <h3>UPE Capitation Progress this School Term</h3>
        </div>
    </div>

</div>

{% endblock %}


{% endblock %}