{# What the dashboard of Ministry of Education will contain; template will be inherited for other role-based views #}

{% extends "layout.html" %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/layout.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}education/stylesheets/emis.css"/>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/highcharts.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/emis_dashboard_charts.js"></script>
{% endblock javascripts %}
{% block content %}
<div class="module">
    <h2>Welcome to the School Monitoring System</h2>
    <p>
        Welcome to the School Monitoring System, UNICEF's SMS-based Education monitoring and tracking system.
        Click a tab to explore.
    </p>
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.get_profile.role == "Admins" %}
            <p>
                <table width="100%" cellpadding="5" cellspacing="0">
                    <tr>
                        <th align="left">Administrative Tasks</th>  
                    </tr>
                    <tr>
                        <td><a href="{% url emis-users %}">Manage Users</a></td>
                    </tr>
                </table>
            </p>
         {% endif %}
     {% endif %}
</div>

<div class="charts">
    <div id="col-1">
        <div id="abuse">
            <script type="text/javascript">
                $(document).ready(abuses());
            </script>
            <!--
            TODO remove this: compute and get number of reports or schools that reported
            colorize different percentages (i.e. red for critical, yellow for something, etc.
            -->
            <span id="abuse_verdict" style="width:30px; color:red;">
                78% of Schools reported this Month
            </span>
        </div>
        <div id="smc_meetings">
            <script type="text/javascript">
                $(document).ready(smc_meetings());
            </script>
            <span id="smc_meetings_verdict" style="width:30px; color:blue;">
                22% of Schools reported this Month
            </span>
        </div>
    </div>
    <div id="col-2">
        <div id="lunch">
            <script type="text/javascript">
                $(document).ready(lunches());
            </script>
            <span id="lunch_verdict" style="width:30px; color:green;">
                46% of Schools reported this Month
            </span>
        </div>
        <div id="capitation">
            <h3>UPE Capitation Progress this School Term</h3>
        </div>
    </div>

</div>




{% endblock %}