{% extends "generic/base.html" %}
{% block title %}
    Messages - {{ block.super }}
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}contact/stylesheets/messages.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/emis.css" />
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{{MEDIA_URL}}contact/javascripts/messages.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<a href="/cvs/massmessages/" style="font-size:12pt">Show Mass Messages &gt;&gt;</a>
{{ block.super }}
{% endblock %}
