{% extends "education/admin/admin_dashboard.html" %}
{% load humanize %}
{% block title %}
{{ school_name }} report -- {{ block.super }}
{% endblock %}
{% block content %}
<ul class='breadcrumb'>
	<li><a href="{% url rapidsms-dashboard %}">Dashboard Home</a></li>
</ul>
        <div class="general">

            <div class="stats">
            <h1 style="color:white; margin-bottom:5px; padding:10px;">
                {{ school_name }} Report Card
            </h1>
            </div>

            <div class="stats" style="width: 350px;"><h2>Absenteeism of Pupils</h2></div>

            <table class="tabulated-data">
                <tbody>
                <tr><td></td>
                    {% for month in months %}
                    <th>{{ month|date:"M" }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr><td>P3 Girls</td></tr>
                            <tr><td>P3 Boys</td></tr>
                            <tr><td>P6 Girls</td></tr>
                            <tr><td>P6 Boys</td></tr>
                        </table>
                    </td>
                    {% for month_data in monthly_data %}
                        <td>
                            <table class="month_data">
                                <tr><td style="text-align: center;">{{ month_data.0|floatformat }}%</td></tr>
                                <tr><td style="text-align: center;">{{ month_data.1|floatformat }}%</td></tr>
                                <tr><td style="text-align: center;">{{ month_data.2|floatformat }}%</td></tr>
                                <tr><td style="text-align: center;">{{ month_data.3|floatformat }}%</td></tr>
                            </table>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>

            <div class="stats" style="width: 350px;">
                <span>Reporters</span>
            </div>
            <div class="reporter_school_report">
            <ul>
                {% for reporter in reporters %}<li>{{ reporter }} | <span style="font-style: italic;">{{ reporter.groups.all.0 }}</em></li>{% endfor %}
            </ul>
            </div>

            <div class="stats" style="width: 350px;"><h2>Absenteism of Teachers</h2></div>
            <table class="tabulated-data">
                <tbody>
                <tr><td colspan="1"></td>
                    {% for month in months %}
                    <th>{{ month|date }}</th>
                    {% endfor %}
                </tr>

                <tr>
                    <td>
                        <table>
                            <tr><td>Female</td></tr>
                            <tr><td>Male</td></tr>
                        </table>
                    </td>
                    {% for month_data in monthly_data_teachers %}
                    <td>
                        <table>
                            <tr><td>{% if month_data.0 == '--' %} {{ month_data.0 }} {% else %} {{ month_data.0|floatformat }}%{% endif %}</td></tr>
                            <tr><td>{% if month_data.1 == '--' %} {{ month_data.1 }} {% else %} {{ month_data.1|floatformat }}%{% endif %}</td></tr>
                        </table>
                    </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>

            <div class="stats" style="width: 350px;"><h2>Absenteism of Head Teachers</h2></div>
            <table class="tabulated-data">
                <tbody>
                <tr>
                    {% for month in months %}
                    <th>{{ month|date }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for month_data in monthly_data_head_teachers %}
                    <td>{{ month_data }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>

            <br/><br/>
            <hr>
            <div class="stats" style="width:350px;">
                <h1>Monthly Reports</h1>
            </div>
            <div class="top">
                <table class="tabulated-data">
                    <tbody>
                    <tr><td colspan="1"></td>
                        {% for month in months %}
                        <th>{{ month|date }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Violence</td>
                    </tr>
                    <tr>
                        <td>Meals</td>
                    </tr>
                    </tbody>
                </table>
                <div class="stats" style="width: 350px;">
                    <h1>Termly Reports</h1>
                </div>
                <table class="tabulated-data">
                    <tbody>
                    <tr><td colspan="1"></td>

                        <th>Term 1</th>
                        <th>Term 2</th>
                        <th>Term 3</th>
                    </tr>

                    <tr>
                        <th>Enrollment</th>
                    </tr>
                    <tr>
                        <td>P3 Girls</td>
                    </tr>
                    <tr><td>P3 Boys</td></tr>
                    <tr><td>P6 Girls</td></tr>
                    <tr><td>P6 Boys</td></tr>
                    <tr>
                        <th>Teachers</th>
                    </tr>
                    <tr><td>Female</td></tr>
                    <tr><td>Male</td></tr>
                    <tr>
                        <th>UPE Grant</th>
                    </tr>
                    <tr>
                        <th>SMC Meeting</th>
                    </tr>
                    </tbody>
                </table>


            </div>
    	</div>
{% endblock %}