{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% comment %} using url from future to pass context vars {% endcomment %}
{% load url from future %}
{% block title %}
{{ title }} -- {{ block.super }}
{% endblock %}
{% block content %}
<ul class='breadcrumb'>
    <li>
        <a href="{% url 'rapidsms-dashboard' %}">
            Dashboard Home</a>
        <span class="divider">\</span>
    </li>
    <li>
        <a href="{% url 'attendance-admin-details' %}">Details view</a>
    </li>
</ul>
        <div class="general" style="min-height: 200px;">

            <div style="padding:20px; margin-bottom: 30px;">
                <form action="" method="post" class="selector">
                    From {{ form.from_date }} to {{ form.to_date }}
                    <button>Search</button>
                </form>
                <div style="float:right; clear:both;" class="alert-message">
                    {{ title }} - Percentage
                </div>
            </div>

            <script>
                $(function(){
                    $('#id_from_date').datepicker();
                    $('#id_to_date').datepicker();
                });
            </script>

            {% if dataset %}
                <table class="tabulated-data classy">
                    <tr>
                        <th>District</th>
                        {% for date1, date2 in date_batch %}
                        <th style="font-size: .7em;">{{ date1|date }}</th>
                        {% endfor %}
                    </tr>
                    {% for location, figure_list in dataset %}
                    <tr>
                        <td>{{ location }}</td>
                        {% for figure in figure_list %}
                        <td>
                            {% if figure == '--' %}
                                {{ figure }}
                            {% else %}
                                {{ figure|floatformat }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert-message">Please click the text boxes to select date range for data</div>


            <div class="attendance">
                <h2>Weekly Change in {{ title }} {{ week|date:"D d M Y" }}</h2>

                <div class="top">
                    {% paginate 25 location_data %}
                    <table class="tabulated-data">
                        <thead>
                        <tr>
                            {% for heading in headings %}
                            <th>{{ heading }}</th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody>
                        {% for district, cur_value, prev_value, diff in location_data %}
                            <td><a href="{% url url_name district.id %}">{{ district }}</a>
                            <td>{% if cur_value == '--' or cur_value == 0%} {{ cur_value }} {% else %} {{ cur_value|floatformat }} {% endif %}</td>
                            <td>{% if prev_value == '--' or prev_value == 0%} {{ prev_value }} {% else %} {{ prev_value|floatformat }} {% endif %}</td>
                            <td>{% if diff == '--' or diff == 0 %} {{ diff }} {% else %} {{ diff|floatformat }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="paginator">
                    {% show_pages %}
                </div>

            </div>
            <!--
            <script>
                $(function(){
                    $(".tabulated-data").tablesorter({sortList: [
                        [0,0],
                        [1,0]
                    ]});
                });
            </script>
            -->
            {% endif %}
        </div>
{% endblock %}