<div class="progress">
    <div id="prog1">
        <!-- TODO: context var to get current term week -->
        <span>
            ENGLISH - Curriculum Progress for P3 <span class="inner_span">(week 8 of Second School Term)</span>
        </span>
        <div class="progress_chart"></div>
    </div>

    <div id="prog2">
        <!-- TODO: context var to get current term week -->
        <span>
            ENGLISH - Curriculum Progress for P6 <span class="inner_span">(week 8 of Second School Term)</span>
        </span>
        <div class="progress_chart"></div>
    </div>

</div>
