<div class="wrappit">
        <div class="map">
            <div class="img">
                <h3>Boys Attendance this week</h3>
            <img border="0" src="http://maps.googleapis.com/maps/api/staticmap?center=Kampala,Uganda&amp;zoom=14&amp;size=380x300&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318&amp;markers=color:red%7Clabel:C%7C40.718217,-73.998284&amp;sensor=false" alt="Points of Interest in Lower Manhattan">
            </div>
            <div class="indicator">
                <h3>Select an indicator to...</h3>
                <form>
                    <!-- TODO: using django forms a more dynamic form will be created. This is demo code!!! -->
                    <input type="checkbox" name="girls_attendance" value="girls">Girls Attendance<br/>
                    <input type="checkbox" name="boys_attendance" value="boys">Boys Attendance<br/>
                    <input type="checkbox" name="teachers_attendance" value="teachers">Teachers Attendance<br/>
                    <input type="checkbox" name="headteacher_attendance" value="headteachers">HeadTeacher Attendance<br/>
                    <input type="checkbox" name="meals_consumption" value="meals">Meals Consumption<br/>
                    <input type="checkbox" name="abuse_incidences" value="abuse">Abuse Incidences<br/>
                    <input type="checkbox" name="curriculum_progress" value="progress">Curriculum Progress<br/>
                </form>
            </div>
        </div>

        <div class="weekly_data">
            <h2>This Week</h2>
            <table style="border:#000000;">
                <thead style="background-color: gray; border: black;">
                <tr>
                <th style="text-align: left;">
                    Group
                </th>
                <th style="text-align: center;">
                    % Absent
                </th>
                <th style="text-align: center;">
                    % Present
                </th>
                <th>
                    Change
                </th>
                </thead>
                </tr>
                <tr>
                    <td>Boys P3</td>
                    <td class="figures">10%</td>
                    <td class="figures">40%</td>
                    <td>
                        <img style="vertical-align: middle;" src="{{ MEDIA_URL }}education/icons/right_arrow.png">
                    </td>
                </tr>
                <tr>
                    <td>Boys P6</td>
                    <td class="figures">25%</td>
                    <td class="figures">70%</td>
                    <td>
                        <img style="vertical-align: middle;" src="{{ MEDIA_URL }}education/icons/up_arrow.png">
                    </td>
                </tr>
                <tr>
                    <td>Girls P3</td>
                    <td class="figures">5%</td>
                    <td class="figures">22%</td>
                    <td>
                        <img style="vertical-align: middle;" src="{{ MEDIA_URL }}education/icons/down_arrow.png">
                    </td>
                </tr>
                <tr>
                    <td>Girls P6</td>
                    <td class="figures">15%</td>
                    <td class="figures">18%</td>
                    <td>
                        <img src="{{ MEDIA_URL }}education/icons/right_arrow.png">
                    </td>
                </tr>
                <tr>
                    <td>Female Teachers</td>
                    <td class="figures">15%</td>
                    <td class="figures">48%</td>
                    <td>
                        <img style="vertical-align: middle;" src="{{ MEDIA_URL }}education/icons/down_arrow.png">
                    </td>
                </tr>
                <tr>
                    <td>Male Teachers</td>
                    <td class="figures">10%</td>
                    <td class="figures">40%</td>
                    <td>
                        <img style="vertical-align: middle;" src="{{ MEDIA_URL }}education/icons/right_arrow.png">
                    </td>
                </tr>
                <tr>
                    <td>Female Head Teachers</td>
                    <td class="figures">10%</td>
                    <td class="figures">40%</td>
                    <td>
                        <img style="vertical-align: middle;" src="{{ MEDIA_URL }}education/icons/down_arrow.png">
                    </td>
                </tr>
                <tr>
                    <td>Male Head Teachers</td>
                    <td class="figures">10%</td>
                    <td class="figures">40%</td>
                    <td>
                        <img style="vertical-align: middle;" src="{{ MEDIA_URL }}education/icons/down_arrow.png">
                    </td>
                </tr>
            </table>

            <span style="color: gray; margin-bottom:10px; padding:20px; font-size: 1.5em;">
                <!--TODO: pass variable that will display this dynamically -->
                <u>30% of Total Reporters Reported</u>
            </span><br/>
            <span style="color: gray; padding:20px; font-size: 1.5em;">
                <!--TODO: pass variable that will display this dynamically -->
                15% of Community Reporters Reported
            </span>
        </div>
</div>