{% load stats_extras %}
<td>&nbsp;</td>
<td id="row_{{ reporter.pk }}">{{ reporter_form.name }}
    {% if reporter_form.name.errors %}
        <br clear="left"/>
        {{ reporter_form.name.errors }}
    {% endif %}
</td>
<td>{{ reporter.default_connection.identity }}</td>
<td>{{ reporter_form.grade }}
	{% if reporter_form.grade.errors %}<br clear="left"/>{{ reporter_form.grade.errors}}{% endif %}
</td>
<td>{{ reporter_form.gender }}
    {% if reporter_form.gender.errors %}<br clear="left"/>{{ reporter_form.gender.errors }}{% endif %}
</td>
<td>{{ reporter_form.groups }}
    {% if reporter_form.groups.errors %}
        <br clear="left"/>
        {{ reporter_form.groups.errors }}
    {% endif %}
</td>
<td>{{ reporter_form.reporting_location }}
    {% if reporter_form.reporting_location.errors %}
        <br clear="left"/>
        {{ reporter_form.reporting_location.errors }}
    {% endif %}
</td>
<td>{{ reporter|latest|date:"d-m-Y" }}</td>
<td>{{ reporter.responses.count }}</td>
<td>{{ reporter_form.schools }}
    {% if reporter_form.schools.errors %}
        <br clear="left"/>
        {{ reporter_form.schools.errors }}
    {% endif %}
</td>
<td>{{ reporter_form.location }}
    {% if reporter_form.location.errors %}
        <br clear="left"/>
        {{ reporter_form.location.errors }}
    {% endif %}
</td>
<td class="button_col">
    <div class="buttons">
        <a href="javascript:void(0)"
           onclick="$(this).parents('tr').load('../reporter/{{ reporter.pk }}/show/')">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png"/>
        </a>
        <a href="javascript:void(0)"
           onclick="submitForm(this, '../reporter/{{ reporter.pk }}/edit/', $(this).parents('tr'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png"/>
        </a>
    </div>
</td>




