{% extends "education/partials/partial_header.html" %}
{% block toprow %}
	<div id="add_contact_form"></div>
    <div id="add_contact_anchor_row">
        <a href="javascript:void(0)" onClick="newConnection(this, '{% url education.views.add_connection %}')" style="color:white; padding:10px; font-size: 1.2em; background-color:gray;">Add Reporter</a><p></p>
    </div>

    <div id="schedule_special_script"></div>
    <div id="schedule_special_script_form">
        <a class="special-script" data-toggle='modal' href="#scriptModal">Schedule Special Script</a>
        <div class="modal" id="scriptModal">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">x</button>
                <h3>Schedule Spcecial Script</h3>
            </div>
            <div class="modal-body">
                scripts to go here.
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
              <a href="#" class="btn primary">Schedule script</a>
            </div>
        </div>
        <script type="text/javascript">
            $('div#scriptModal').hide();
        </script>

    </div>
{% endblock %}