{% extends 'generic/partials/partial_row.html' %}
{% block remaining_row_content %}
<td>
    <span class="textmessage">
    {{ object.text }}
    </span>
</td>
<td><span class="small">
        {% if object.connection.contact %}
            {{ object.connection.contact.name }} ({% endif %}{{ object.connection.identity }}{% if object.connection.contact %}){% endif %}
    <ul>
        <li>
            <a href="/ureport/{{ object.connection.pk }}/message_history/">
                Show history
            </a>
        </li>
    </ul>
    </span>
</td>
<td>
    <span class="small">
        {{ object.date|date:"m/d/Y H:i:s" }}
    </span>
</td>
<td>
    {% if object.handled_by %}
        {% ifequal object.handled_by 'poll' %}
            Poll Response
        {% else %}
            {% ifequal object.handled_by 'rapidsms_xforms' %}
                Report
            {% else %}
                Other
            {% endifequal %}
        {% endifequal %}
    {% else %}
        Other
    {% endif %}
</td>
<td>
    {% if object.responses %}
        <ul>
            {% for r in object.responses.all %}
                <li>&lt;&lt;{{ r.text }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</td>
{% endblock %}