{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% block content %}
<div class="attendance">
    <h2 class="block-header">Attendance Records for P6 Boys by District (week: {{ week|date:"D d M Y" }})</h2>

    <div class="top">
        {% paginate location_data %}
        <table class="tabulated-data">
            <thead>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>

            </thead>
            <tbody>
            {% for a, b in location_data %}
            <tr>
                <td><a href="{% url boysp6-district-attd-detail a.id %}">{{ a }}</a></td>
                <td>{{ b }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="paginator">
        {% show_pages %}
    </div>
</div>
<script>
    $(function(){
        $(".tabulated-data").tablesorter({sortList: [
            [0,0],
            [1,0]
        ]});
    });
</script>



{% endblock %}