{% extends "education/admin/admin_dashboard.html" %}

{% block content %}
<div class="page-header"><h1>Management Control Panel</h1></div>
<div class="controls">
    <table class="classy">
        <thead><tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr></thead>
        <tbody>
        <tr>
            <td>Messages</td>
            <td>A page showing messages coming into EduTrac; you can send and receive messages using this.</td>
            <td><a href="{%url emis-messagelog %}">Link</a></td>
        </tr>
        
        <tr>
            <td>Other Messages</td>
            <td>Manage other messages sent into the system. e.g. Unsolicited messages</td>
            <td><a href="{% url emis-other-messages %}">Link</a></td>
        </tr>
        
        <tr>
            <td>Reporters</td>
            <td>Manage reporters on EduTrac</td>
            <td><a href="{%url emis-contact %}">Link</a></td>
        </tr>
        <tr>
            <td>Schools</td>
            <td>Manage schools in EduTrac</td>
            <td><a href="{%url emis-schools %}">Link</a></td>
        </tr>

        <tr>
            <td>Scripts</td>
            <td>Manage scripts scheduling; e.g. set dates to send out polls, activate polls, etc.</td>
            <td><a href="{% url emis-scripts %}">Link</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}