{% extends "generic/base.html" %}
{% load endless %}
{% load stats_extras %}
{% load i18n %}
{% block title %}
Scripts - {{ block.super }}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/jquery-ui-1.8.19.custom.css"/>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/bootstrap-responsive.min.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/application.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/tablecloth.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}education/stylesheets/prettify.css" /> 
{% endblock %}

{% block javascripts %}
{{ block.super }}
    <script src="{{ MEDIA_URL }}education/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/jquery-ui-1.8.19.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/jquery-ui-1.7.3.custom.min.js"></script>
    <script src="{{ MEDIA_URL }}education/javascripts/add_datepicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script src="{{MEDIA_URL}}generic/javascripts/generic.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}education/javascripts/emis_schools.js"></script>
{% endblock %}

<div id="wrapper">
{% block header %}
<div id="topbar">
  
  <div class="container">
    
    <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
      <i class="icon-cog"></i>
    </a>
  
    <div id="top-nav">      
      <ul class="pull-right">
        {% if user.is_authenticated %}
        <li><a href=""><i class="icon-user"></i> Logged in as {{ user.username }}</a></li>
        <li><a href="{% url rapidsms-logout %}">Logout</a></li>
        {% else %}
        <li><a href="{% url rapidsms-login %}">{% trans "Log in" %}</a></li>
        {% endif %}
      </ul>
      
    </div> <!-- /#top-nav -->
    
  </div> <!-- /.container -->
  
</div> <!-- /#topbar -->
<div id="header">
    
    <div class="container">


      <a href="{% url rapidsms-dashboard %}" style="position:relative;top:20px;display: block;overflow: hidden;width: 180px;height: 45px;margin-right: .75em;"><img src="{{MEDIA_URL }}education/icons/web_logo.png" alt="EduTrac"></a>
    
    <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <i class="icon-reorder"></i>
    </a>

    <div class="nav-collapse">
      <ul id="main-nav" class="nav pull-right">
        <li>
          <a href="{% url rapidsms-dashboard %}">
            <!-- <i class="icon-home"></i> -->
            <span>Home</span>                 
          </a>
        </li>
        
        <li class="dropdown">         
          <a href="/edtrac/control-panel/">
            <span>Control Panel</span> 
          </a>  
        </li>
      </ul>
      
    </div> <!-- /.nav-collapse -->
    </div> 
    
</div>  

{% include "education/partials/messages/message_links.html" %}
{% endblock %}

{% block content %}
<div id="content">


  <div class="container">

  <div class="general">
        <div class="module">
            <h2>{{ title }}</h2>
        </div>
        {% for script, script_form in forms %}
        <div> 
        <!-- <div style="padding:20px; border:1px solid #333;"> -->
            <form action="" method="post">
                {{ script_form.slug }}
                <table cellspacing="1" cellpadding="3" id="quitters" class="results table table-paper tablehead table-condensed table-striped" style="background:#CCC;">
                    <thead>
                        <tr class="colhead">
                            <th>Script Name</th>
                            <th>Questions</th>
                            <th>Enabled</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ script.name }}</td>
                            <td>
                               <ul>
                            {% for step in script.steps.all %}
                                {% if step.message %}
                                    <li>{{ step.message }}</li>
                                {% else %}
                                    <li>{{ step.poll.question }}</li>
                                {% endif %}
                            {% endfor %} 
                            </td>
                            <td>{{ script_form.enabled }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <table width="100%" cellpadding="5" cellspacing="0" border=1 style="border-collapse:collapse;">
                    <tr>
                        <td width="10%"><label for="name">Script Name:</label></td>
                        <td>{{ script_form.name }}</td>
                        <td><label for="enabled">Enabled:</label></td>
                        <td>{{ script_form.enabled }}</td>
                    </tr>
                    <tr>
                        <td><h4 style="padding:5px;">Questions:</h4></td>
                        <td colspan="3">
                            <br/>
                            <ul style="list-style: decimal;">
                            {% for step in script.steps.all %}
                                {% if step.message %}
                                    <li>{{ step.message }}</li>
                                {% else %}
                                    <li>{{ step.poll.question }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% ifnotequal script.slug "emis_autoreg" %}
                        <tr style="margin-top: 10px;">
                            <td colspan="4" style="padding:20px;">
                                <div style="border-top: 1px solid #9acd32;">
                                {% if script|termly %}
                                    <label for="date">Schedule Date:</label> {{ script_form.date }} |
                                {% endif %}
                                <a href="#" onclick="reschedule_polls('{% url emis-reschedule-scripts script.slug %}', '{{ script.pk }}');">Reschedule Questions</a>
                                    <span id="{{ script.pk }}_results"></span>
                                </div>
                            </td>
                        </tr>
                    {%endifnotequal %}
                </table> -->
            </form>
        </div>
        {% endfor %}
    </div>
</div> <!-- /.container -->

</div> <!-- /#content -->
</div> <!-- end wrapper -->

<script src="{{MEDIA_URL}}contact/javascripts/messages.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}education/javascripts/emis_reporters.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}education/javascripts/bootstrap-modal.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}education/javascripts/jquery.metadata.js"></script>
<script src="{{MEDIA_URL}}education/javascripts/jquery.tablesorter.min.js"></script>
<script src="{{MEDIA_URL}}education/javascripts/jquery.tablecloth.js"></script>
    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("#userTable").tablecloth({
          theme: "paper",
          striped: true,
          condensed: true,
          customClass: "tablehead"
        });
      });
    </script>

{% endblock %}