{% extends "education/admin/admin_dashboard.html" %}
{% load endless %}
{% block content %}
<div class="attendance">
    <h2 class="block-header">Attendance Records for Female Teachers by District (week: {{ week|date:"D d M Y" }})</h2>

    <div class="top">
        {% paginate location_data %}
        <table class="tabulated-data">
            <thead>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>

            </thead>
            <tbody>
            {% for district, cur_value, prev_value, diff in location_data %}
            <tr>
                <td><a href="{% url female-teacher-district-attd-detail district.id %}">{{ district }}</a>
                <td>{% ifequal cur_value 0%} -- {% else %} {{ cur_value|floatformat }} {% endifequal %}</td>
                <td>{% ifequal prev_value 0%} -- {% else %} {{ prev_value|floatformat }} {% endifequal %}</td>
                <td>{{ diff|floatformat }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="paginator">
        {% show_pages %}
    </div>

</div>
{% endblock %}