{% extends "education/admin/admin_dashboard.html" %}
{% block content %}
<div class="attendance">
    <h2 class="block-header">Attendance Records for P6 girls (week: {{ week|date:"D d M Y" }})</h2>
    <div class="top">
        {% paginate location_data %}
        <table class="tabulated-data">
            <tbody>
            <tr>
                {% for heading in headings %}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>


            {% for a, b, c in location_data %}
            <tr>
                <td><a href="{% url school-detail a.id %}">{{ a }}</a></td>
                <td>{{ b }}</td>
                <td>{{ c }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="paginator">
        {% show_pages %}
    </div>
</div>
<script>
    $(function(){
        $(".tabulated-data").tablesorter({sortList: [
            [0,0],
            [1,0]
        ]});
    });
</script>

{% endblock %}