{% extends "generic/partials/partial_header.html" %}

{% block tablehead %}
<!-- <div class="row"> -->
<table cellspacing="1" cellpadding="1" id="repTable" class="results table table-paper tablehead table-condensed table-striped" style="background:#CCC;">
<thead>
	<tr class="colhead">
		{% for name, colspan, href in top_columns %}
		<th>
			{% if href %}<a href="{{ href }}">{{ name }}</a>
            {% else %}
            {{ name }}
            {% endif %}
		</th>
		{% endfor %}
	</tr>
</thead>
{{ block.super }}

<!-- </div> -->
{% endblock %}
