{% extends 'generic/partials/partial_row.html' %}
{% load stats_extras %}
{% block remaining_row_content %}
    <td>
        {% if object.default_connection %}
            <a href="/contact/{{ object.default_connection.pk }}/message_history/">
        {% endif %}
        {{ object.name }}
        {% if object.default_connection %}
            </a>
        {% endif %}
    </td>
    <td>
        <ul>
            {% with connections=object|distinct_connections %}
                {% for c in connections %}
                    <li>
                        {{ c.identity }}
                    </li>
                {% endfor %}
             {% endwith %}
        </ul>
    </td>
    <td>
        <ul>
            {% for g in object.groups.all %}
                <li>
                    {{ g.name }}
                </li>
            {% endfor %}
        </ul>
    </td>
    <td>{{ object.reporting_location|get_district }}</td>
    <td>{{ object|latest|date:"d-m-Y" }}</td>
    <td>{{ object|submissions }}</td>
    <td>
    	<ul>
            {% for s in object.schools.all %}
                <li>
                    {{ s.name }}
                </li>
            {% endfor %}
        </ul>
     </td>
    {% comment %} 
    <td id="row_{{ object.pk }}">{{ object.reporting_location.name }}</td>
    {% endcomment %}
    <td class="button_col">
        <div class="buttons">
            <a href="javascript:void(0)" onclick="deleteReporter(this, {{ object.pk }},'{{ object.name }}', '{% url education.views.delete_reporter object.pk %}')">
                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" />
            </a>
             <a href="javascript:void(0)" onclick="editReporter(this, {{ object.pk }}, '{% url education.views.edit_reporter object.pk %}')">
                <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png" />
            </a>
        </div>
    </td>
{% endblock %}