.results ul {
    list-style-type:none;
    margin:2px;
    padding:0;
}

.results li {
    padding:1px;
}

.small {
    font-size:8pt;
}

.filter_form_help {
    font-size:8pt;
    color:gray;
    position:relative;
    float:left;
    top:.5em;
}

#filters {
    height:4.5em;
}

#div_filter_0 {
    position:absolute;
    left:0;
    top:3em;
}

#div_filter_0 input {
    position:absolute;
    left:16em;
    top:0em;
}

#div_filter_1 {
    position:absolute;
    left:45%;
    top: 3em;
}

#div_filter_2 {
    position:absolute;
    left:66%;
    top: 3em;
}

#div_filter_update {
    position:absolute;
    right:1em;
    top: 5em;
}

#div_filter_clear {
    position:absolute;
    right:7em;
    top: 5em;
}

#actions {
    height:4.5em;
}

#div_action_0 {
    position:absolute;
    top:3em;
    left:0;
}

#div_action_0 a {
    position:absolute;
    top:1em;
    left:18em;
    white-space:nowrap;
}
