<div id="head">
    <h3>CVS Dashboard</h3>
</div>

<div id="columns">

    <div id="column1" class="column">
        <div class="widget " id="mod4">
            <div class="module widget-head">
                <h3>About<a href="javascript:void(0)" class="close">[X]</a></h3>
            </div>
            <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a,
                    rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede
                    odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
            </div>
        </div>
        <div class="widget " id="mod3">
            <div class="module widget-head">
                <h3>Map<a href="javascript:void(0)" class="close">[X]</a></h3>
            </div>
            <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a,
                    rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede
                    odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
            </div>
        </div>
    </div>

    <div id="column2" class="column">
        <div class="widget" id="mod2">
            <div class="module widget-head" id="a">
                <h3>Stats<a href="javascript:void(0)" class="close">[X]</a></h3>
            </div>
            <div class="widget-content" id="b">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a,
                    rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede
                    odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
            </div>
        </div>
        <div class="widget" >
            <div class="widget-head module" >
                <h3>Polls<a href="javascript:void(0)" class="close">[X]</a></h3>
            </div>
            <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam magna sem, fringilla in, commodo a,
                    rutrum ut, massa. Donec id nibh eu dui auctor tempor. Morbi laoreet eleifend dolor. Suspendisse pede
                    odio, accumsan vitae, auctor non, suscipit at, ipsum. Cras varius sapien vel lectus.</p>
            </div>
        </div>
    </div>

    <div id="column3" class="column" style="clear:all;">

    </div>

    


</div>