{% block tablehead %}
<thead>
    <tr>
        <td>Table header</td>
    </tr>
</thead>
{% endblock %}
{% block firstrow %}
<tr>
    <td>
        <input type="checkbox" id="id_select_all" {% if selected %}checked="true"{% endif %}/>Select all
        <script language="javascript">
            $('#id_select_all').click(
                function() {
                    $('input:checkbox[name=results]').attr('checked', $('#id_select_all').attr('checked'));
                }
            );
        </script>
    </td>
</tr>
{% endblock firstrow %}