<h2>Results</h2>
{% if status_message %}
    <span id="span_status_message" class="status_{{ status_message_type }}">
        {{ status_message }}
    </span>
    <script language="javascript">
        setTimeout(function() {
            $("#span_status_message").hide(500, 'swing')
        }, 5000);
    </script>
{% endif %}
{% block list_wrapper %}
<table class="results">
{% endblock %}

{% include partial_header %}
{% block partial_base_content %}
    {% for object in object_list %}
      {% block item_wrapper %}
        <tr class="row_{% cycle 'reg' 'alt' %}">
      {% endblock %}
      {% include partial_row %}
      {% block item_wrapper_close %}
        </tr>
      {% endblock %}
    {% endfor %}
{% endblock %}

{% block list_wrapper_close %}
</table>
{% endblock %}

{% block pagination %}
{% if paginated %}
    <input type="hidden" id="input_page_num" name="page_num" value="{{ page }}"/>
    <input type="hidden" id="input_page_action" name="page_action" value=""/>
    {% include paginator_template %}
{% endif %}
{% endblock %}