{% load stats_extras %}
{% load url from future %}
<div class="well">
	<h3 class="title">Curriculum Progress - P3 Literacy</h3>
	<p>Shows how far on schedule the current literacy of P3 students is.</p>
	<div class="curriculum-progress progress progress-primary">
		{% if c_mode|islist %}
		<div class="bar" style="width:{{ mode_progress }}%;"><b>{{ c_mode|format_mode }}</b></div>
		{% else %}
		<p style="color:red;">{{ c_mode }}</p>
		{% endif %}
	</div>
	<div class="actions">
		<a href="{% url 'emis-admin-curriculum-progress' %}" class="btn btn-secondary"><i class="icon-th-list"></i> View Details</a>
	</div>
</div>
